/*
Theme Name: Bootstrap 3 - Crayon
Theme URI: http://upplex.de/bootstrap-3-wordpress-theme-framework/
Author: upplex
Author URI: http://upplex.de
Description: upBootWP is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc. and Twitter Bootstrap 3. Feel free to edit it. 
Version: 0.1
License: GNU General Public License
License URI: license.txt
Text Domain: upbootwp
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

upBootWP is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc. and Twitter Bootstrap 3 

*/

@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-bold-webfont.eot');
    src: url('fonts/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lora-bold-webfont.woff2') format('woff2'),
         url('fonts/lora-bold-webfont.woff') format('woff'),
         url('fonts/lora-bold-webfont.ttf') format('truetype'),
         url('fonts/lora-bold-webfont.svg#lorabold') format('svg');
    font-weight: bold;
}
@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-bolditalic-webfont.eot');
    src: url('fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lora-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/lora-bolditalic-webfont.woff') format('woff'),
         url('fonts/lora-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-italic-webfont.eot');
    src: url('fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lora-italic-webfont.woff2') format('woff2'),
         url('fonts/lora-italic-webfont.woff') format('woff'),
         url('fonts/lora-italic-webfont.ttf') format('truetype'),
         url('fonts/lora-italic-webfont.svg#loraitalic') format('svg');
    font-style: italic;

}
@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-regular-webfont.eot');
    src: url('fonts/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lora-regular-webfont.woff2') format('woff2'),
         url('fonts/lora-regular-webfont.woff') format('woff'),
         url('fonts/lora-regular-webfont.ttf') format('truetype'),
         url('fonts/lora-regular-webfont.svg#loraregular') format('svg');
}

/* GENERAL */
body{
	font-family: 'Roboto', sans-serif;
	color:#505050;
	font-size:16px;
	line-height: 26px;
}
a{
	color:#505050;
}
a:hover, a::active{
	color:#505050;
}
h1{
	font-size:42px;
	font-weight:300;
	line-height: 49px;
	margin: 0px 0px 30px;
}
h2{
	font-size:42px;
	font-weight:300;
	line-height: 49px;
	margin: 0px 0px 30px;
}
h3{
	font-size:20px;
	font-weight:400;
	margin-top:10px;
}
h4 {
	
}
h5 {
	
}
h6 {
	
}

/* HEADER */
.header-container{
	position: relative;
}
.site-header{
	background-color: #37464B;
}
.site-header .topmenu {
	float: right;
	display: none;
	margin-top: 35px;
}
.site-header .topmenu ul {
	margin: 0px;
}
.site-header .topmenu li {
	float: left;
	list-style: none;
	margin-left: 0px;
}
.site-header .search-container {
	float: right;
	position: relative;
	width: 100%;
}
.site-header .search-toggle {
	position: absolute;
	bottom: 100%;
	right: 30px;
	margin-bottom: 80px;
}
.site-header .search-form {
	display: none;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 100%;
	width: 100%;
	padding: 5px;
}
.navbar-brand {
	font-size: 26px;
	line-height: 30px;
	text-transform:uppercase;
	padding:15px;
	margin: 10px 0px;
	font-weight:300;
	height: auto;
}
.navbar-brand img{
	height: auto;
}
.site-header h1 {
	font-size: 26px;
	line-height: 30px;
	text-transform:uppercase;
	margin:0px;
	font-weight:300;
}
.navbar {
	margin-top:0px;
	margin-bottom:0px;
	border-radius: 0px;
	border: 0;
	min-height: 0;
}
.navbar-toggle-header {
	margin-top:33px;
	margin-right:15px;
}
.navbar-toggle-fiche-voyage{
	margin: 0px 9px 0px 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.navbar-toggle .icon-bar {
	height:3px;
	background-color: #fff;
}
.header-droite{
	float: right;
}
.navbar-collapse-header{
	float: right;
	clear: both;
	margin-top: 20px;
}
.topmenu2,
.telephone-header,
.main-menu-container,
.selecteur-langue{
	float: left;
	line-height: 21px;
}
.site-header .topmenu li a,
.navbar-nav>li>a,
.dropdown-menu>li>a,
.selecteur-langue a,
.telephone-header span,
.telephone-header a{
	font-family: 'Lora', serif;
	color: #fff;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	font-style: italic;
	padding: 0px;
}
.site-header .topmenu li a:hover,
.navbar-nav>li>a:hover,
.selecteur-langue a:hover,
.telephone-header a:hover,
.site-header .topmenu li a:focus,
.navbar-nav>li>a:focus,
.selecteur-langue a:focus,
.telephone-header a:focus{
	background-color: transparent;
	text-decoration: underline;
}
.navbar-nav>li,
.selecteur-langue,
.telephone-header{
	margin-left: 23px;
}
.navbar-nav>li:first-child{
	margin-left: 0px;
}
.site-header-2{
	background-color: #fff;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
	position: relative;
	z-index: 999;
	padding-top: 18px;
	height: 60px;
}
.sous-menu-container{
	text-align: center;
}
.sous-menu{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.sous-menu li{
	display: inline-block;
	padding-right: 40px;
	margin-right: 40px;
}
.sous-menu li.last,
.sous-menu li:last-child{
	padding-right: 0px !important;
	margin-right: 0px !important;
}
#sous-menu li.last{
	padding-right: 0px !important;
	margin-right: 0px !important;
}
.sous-menu li a{
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 20px;
	color: #505050;
	line-height: 24px;
	padding-top: 18px;
	padding-bottom: 18px;
}
.border-right-bleu{
	border-right: solid 2px #00ADDD;
}
.border-right-orange{
	border-right: solid 2px #FEB130;
}
.border-right-mauve{
	border-right: solid 2px #9F2C95;
}
.border-right-vert{
	border-right: solid 2px #D6E225;
}
.sous-menu .caret{
	display: none;
}
.sous-menu .dropdown-menu{
	background-color: #233237;
	background-color: rgba(35,50,55,0.95);
	padding: 25px 30px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
	border-radius: 0px 0px 4px 4px;
	min-width: 470px;
	border: none;
	top: 42px;
	margin-top: 0px;
}
.sous-menu .dropdown-menu li{
	padding: 0px;
	margin: 0px;
	display: block;
}
.sous-menu .dropdown-menu li a{
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 40px;
	padding: 0px;
}
.sous-menu .dropdown-menu li a:hover,
.sous-menu .dropdown-menu li a:focus{
	background: transparent;
	text-decoration: underline;
}
.triangle-visible{
	background-image: url('images/Triangle-sous-menu.png');
	background-position: bottom center;
	background-repeat: no-repeat;
}
.sous-menu-horizontal{
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	z-index: 999;
	background-color: #233237;
	background-color: rgba(35,50,55,0.95);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
	border-radius: 0px 0px 4px 4px;
	padding-top: 35px;
	padding-bottom: 60px;
	overflow: hidden;
}
.sous-menu-horizontal .owl-carousel-horizontal-container{
	margin-bottom: -100px;
}
.sous-menu-horizontal .owl-carousel-container{
	margin-bottom: 100px;
}
.sous-menu-horizontal .owl-carousel-container.invisible{
	margin-bottom: 0px;
}
.sous-menu-horizontal ul{
	list-style: none;
	padding: 0px;
	margin: 0px 0px 30px;
	text-align: center;
}
.sous-menu-horizontal ul li{
	margin-right: 55px;
	display: inline-block;
}
.sous-menu-horizontal ul li:last-child{
	margin-right: 0px !important;
}
.sous-menu-horizontal ul li a,
.sous-menu-horizontal ul li span{
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 26px;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: solid 4px transparent;
	cursor: pointer;
	text-decoration: none !important;
}
.sous-menu-horizontal ul li span.active{
	text-decoration: none;
	border-bottom: solid 4px #00ADDD;
}
.boite-menu-horizontal a img{
	border: solid 5px #fff;
	border-radius: 4px;
}
.boite-menu-horizontal a span{
	display: block;
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
}
.boite-menu-horizontal a:hover,
.boite-menu-horizontal a:focus{
	text-decoration: none;
}
.boite-menu-horizontal a:hover img,
.boite-menu-horizontal a:focus img{
	border: solid 5px #00ADDD;
}
.boite-menu-horizontal a:hover span,
.boite-menu-horizontal a:focus span{
	color: #00ADDD;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover{
	background-color: transparent;
}

.dropdown-toggle b.caret{
	display: none;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{
	background-color: transparent;
	border-color: transparent;
}

/*
.navbar-default .navbar-nav>li>a {
	color:#3c3c3c;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li:hover>a {
	color: #333333;
	background-color: inherit;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color:#f0efef;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #505050;
}
.navbar-default .navbar-toggle:hover .icon-bar,.navbar-default .navbar-toggle:focus .icon-bar{
	background-color:#828282;
}*/


/* CONTENT */
.site-content{
	overflow: hidden;
}
.section {
	padding: 20px 0;
}
.white {
	background-color: #fff;
}
.lightgray {
	background-color: #eee;
}
.gray {
	background-color: #505050;
}
#content {
	padding: 0px;
}
.btn{
	border-radius:2px;
	text-transform: uppercase;
}
.btn-lg {
	border-radius: 2px;
	padding: 10px 30px;
}
.btn-primary {
	background-color: #f0c310;
	border-color: #f0c310;
}
.btn-primary:hover{
	background-color: #e0b60f;
	border-color: #e0b60f;
}
.div-btn-header{
	position:absolute;
	right:0px;
	left:0px;
	bottom:35%;
	z-index:999;
	text-align: center;
}
.lien_savoir_plus{
	text-decoration:underline;
	text-transform: uppercase;
	font-size:12px;
	font-weight:700;
}

.btn {
	background-color: #00C1F1;
	color: #fff;
}
.btn:hover {
	background-color: #D6E224;
	color: #fff;
}
.btn.btn-rightarrow, .overlay-top .row > div + div a.btn.btn-rightarrow {
	/* Confiez vos envies à: */
	font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
	color: #00ADDD;
	line-height: 20px;
	background: #FFFFFF;
	border-radius: 4px;
	background-image: url('images/bluearrow.png');
	background-position: right 15px center;
	background-repeat: no-repeat;
	text-transform: none;
	text-decoration: none;
	padding: 10px 60px 10px 20px;
	margin-bottom: 20px;
}
.display-none{
	display: none;
}

/* ACCUEIL */

/* Carousel haut */

.carousel-indicators{
	height: 20px;
	bottom: 30px;
	margin-bottom: 0px;
}
.carousel-indicators li,
.carousel-indicators .active{
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}
.carousel-indicators li{
    border: solid 4px #fff;
}
.carousel-indicators .active{
	border: none;
    background-color: #FEB130;
    background-image: linear-gradient(-180deg, #FFC544 0%, #FEB130 100%);
}

.owl-carousel-haut .owl-nav{
	display: none;
}
.owl-carousel-haut .owl-dots{
	position: absolute;
    height: 20px;
    bottom: 30px;
    margin-bottom: 0px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.owl-carousel-haut .owl-dots .owl-dot{
	width: 20px;
    height: 20px;
    margin: 0px 5px;
    border: solid 4px #fff;
    display: inline-block;
    border-radius: 10px;
}
.owl-carousel-haut .owl-dots .owl-dot.active{
	border: none;
    background-color: #FEB130;
    background-image: linear-gradient(-180deg, #FFC544 0%, #FEB130 100%);
}
.owl-carousel-haut .owl-item{
	height: 0;
	padding-bottom: 560px;
}

.carousel-caption{
	bottom: 40%;
	left: 0px;
	right: 0px;
    padding: 0px;
}
.animated .carousel-caption{
	display: none;
}
.carousel-caption h2{
	margin: 0px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 84px;
    text-shadow: 0px 0px 30px rgba(0,0,0,0.50);
}


/* boîte bleue et blanches */
.boite-bleue-et-blanche{
	font-size: 16px;
	line-height: 25px;
}
.boite-bleue-et-blanche .bg-bleu,
.boite-bleue-et-blanche .bg-blanc{
	padding-top: 70px;
	padding-bottom: 80px;
}
.boite-bleue-et-blanche .bg-bleu{
	background-color: #00C1F1;
	background-image: linear-gradient(135deg, #00C1F1 75%, #0099C9 100%);
	padding-left: 3000px;
	margin-left: -3000px;
	padding-right: 65px;
	margin-right: -15px;
	color: #fff;
}
.boite-bleue-et-blanche .bg-blanc{
	background-color: #FFFFFF;
	padding-right: 3000px;
	margin-right: -3000px;
	padding-left: 65px;
	margin-left: -15px;
	color: #505050;
}
.boite-bleue-et-blanche h1,
.boite-bleue-et-blanche h2{
	font-weight: 300;
	font-size: 42px;
	line-height: 49px;
	margin: 0px 0px 30px;
}
.boite-bleue-et-blanche .bg-bleu .btn{
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 20px;
	background-color: transparent;
	background-color: rgba(255,255,255,0.10);
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	text-transform: none;
	padding: 13px 55px 13px 30px;
	margin-top: 25px;
	background-image: url(images/Arrow-white-next.png);
	background-repeat: no-repeat;
	background-position: 92% center;
    background-size: 8px 14px;
}
.liste_liens{
	margin-top: 15px;
}
.liste_liens a{
	display: inline-block;
	width: 49%;
	font-size: 18px;
	color: #00ADDD;
	line-height: 25px;
	margin-top: 25px;
}
.liste_liens .img-container{
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-right: 20px;
}
.liste_liens .img-container img{
	vertical-align: middle;
}


/* Carousel bas */
.voyage-coup-de-coeur{
	background-color: #F7F5F3;
	padding-bottom: 160px;
}
.boite-coup-de-coeur img{
	border-radius: 4px 4px 0px 0px;
	max-width: 100%;
	height: 321px;
}
.voyage-coup-de-coeur .titre h2{
	font-family: 'Reenie Beanie', cursive;
	font-size: 72px;
	color: #FEB130;
	line-height: 86px;
	text-align: center;
	margin: 70px 0px;
}
.boite-coup-de-coeur .info{
	padding: 30px 20px 30px;
	background: #FFFFFF;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	border-radius: 0px 0px 4px 4px;
	font-size: 14px;
	color: #505050;
	line-height: 20px;
	position: relative;
}
.boite-coup-de-coeur .info h2{
	font-size: 18px;
	line-height: 20px;
	margin: 0px 0px 10px;
}
.boite-coup-de-coeur .info h2 a{
	color: #00ADDD;
}
.boite-coup-de-coeur .info h2 a:hover{
	color: #0095BF;
}
.coup-de-coeur-lien{
	font-size: 16px;
	color: #00ADDD;
	line-height: 25px;
	text-decoration: underline;
	display: inline-block;
	position: absolute;
	bottom: 35px;
	left: 20px;
}
.owl-carousel-bas.owl-carousel .owl-stage-outer{
	overflow: visible;
	margin: 0px -160px 0px -130px;
	/*Transition*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.owl-carousel-bas.owl-carousel .owl-item{
	opacity: .5;
	-webkit-backface-visibility: initial;
	/*Transition*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.owl-carousel-bas.owl-carousel .owl-item.active{
	opacity: 1;
	margin-left: 130px;
}
.ie8 .owl-carousel-bas.owl-carousel .owl-item.active{
	margin: 0 !important;
}
.owl-carousel-bas.owl-carousel .owl-item.active + .active{
	margin-left: 0px;
}
.ie8 .owl-carousel-bas.owl-carousel .owl-item.active + .active{
	margin: 0px !important;
}
.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active{
	margin-right: 160px !important;
}
.ie8 .owl-carousel-bas.owl-carousel .owl-item.active + .active + .active{
	margin-right: 0 !important;
}
.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active:last-child,
.owl-carousel-bas.owl-carousel .owl-item:last-child{
	margin-right: -290px !important;
}
.ie8 .owl-carousel-bas.owl-carousel .owl-item.active + .active + .active:last-child,
.ie8 .owl-carousel-bas.owl-carousel .owl-item:last-child{
	margin: 0 !important;
}
.owl-carousel-container{
	position: relative;
}
.owl-bas-prev{
	position: absolute;
    left: -90px;
    z-index: 999;
    background-color: #FEB130;
	background-image: linear-gradient(-90deg, #FFC443 0%, #FEB130 100%);
	width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    padding: 0px;
	/*Transition*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.owl-bas-prev img{
	padding: 1px 4px 4px 0px;
}
.owl-bas-next{
	position: absolute;
    right: -90px;
    z-index: 999;
    background-color: #FEB130;
	background-image: linear-gradient(-90deg, #FFC443 0%, #FEB130 100%);
	width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    padding: 0px;
	/*Transition*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.owl-bas-next img{
	padding: 1px 0px 4px 3px;
}
.header-container .owl-bas-prev,
.header-container .owl-bas-next{
    top: 60px;
}
.header-container .carousel-size-1 .owl-bas-prev,
.header-container .carousel-size-1 .owl-bas-next,
.header-container .carousel-size-2 .owl-bas-prev,
.header-container .carousel-size-2 .owl-bas-next,
.header-container .carousel-size-3 .owl-bas-prev,
.header-container .carousel-size-3 .owl-bas-next,
.header-container .carousel-size-4 .owl-bas-prev,
.header-container .carousel-size-4 .owl-bas-next{
	display: none;
}
.voyage-coup-de-coeur .owl-bas-prev,
.voyage-coup-de-coeur .owl-bas-next{
    top: 230px;
}


/* PAGE VOYAGE D'AFFAIRE */
.banniere-voyage-daffaire{
	background-color: #00ADDD;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
	padding-top: 120px;
}
.banniere-voyage-daffaire h1,
.banniere-voyage-daffaire h2{
    font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 60px;
	color: #FFFFFF;
	line-height: 70px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	margin: 25px 0px 16px;
}
.banniere-voyage-daffaire h3{
    font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 42px;
	color: #FFFFFF;
	line-height: 55px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	margin: 0px 0px 16px;
}
.banniere-voyage-daffaire h4{
    font-family: 'Lora', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 32px;
	color: #FFFFFF;
	line-height: 40px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	margin: 0px 0px 10px;
}


.bloc-principal-voyage-daffaire{
	padding-top: 100px;
	padding-bottom: 95px;
	background-color: #F7F9FA;
}
.bloc-principal-voyage-daffaire p{
	margin-bottom: 30px;
}
.bloc-principal-voyage-daffaire h3{
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	margin: 40px 0px 30px;
}
.bloc-principal-voyage-daffaire ul{
	list-style: none;
}
.bloc-principal-voyage-daffaire ul li{
	font-weight: 400;
	font-size: 14px;
	color: #505050;
	line-height: 25px;
	position: relative;
	margin-bottom: 18px;
}
.bloc-principal-voyage-daffaire ul.high-margin-bottom li{
	margin-bottom: 25px;
}
.bloc-principal-voyage-daffaire ul li:before{
	content: url(images/Arrow-blue-next.png);
	position: absolute;
	left: -25px;
	top: 3px;
}
.bloc-principal-voyage-daffaire ul.high-margin-bottom li:before{
	top: 14px;
}

.formulaire-container.position-absolute{
	position: absolute;
	top: 0px;
	right: 15px;
	left: 15px;
}
.formulaire-container{
	background: #FFFFFF;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	border-radius: 4px;
	padding: 30px 30px 35px;
}
.formulaire-container h2{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
	font-size: 24px;
	color: #00ADDD;
	line-height: 35px;
}
.formulaire-container span.wpcf7-list-item,
.formulaire-container span.wpcf7-form-control-wrap,
.formulaire-container span.wpcf7-form-control-wrap span.wpcf7-checkbox{
	margin:0px;
}
.formulaire-container span.wpcf7-form-control-wrap span.wpcf7-checkbox span.wpcf7-list-item{
	/*display: table;
	margin-left: 0px;*/
}
.formulaire-container input[type=checkbox]{
	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 0px;
	position: absolute;
	top: 0px;
	z-index: 1;
	/*display: table-cell;
	margin-left: 10px;*/
}
.formulaire-container .wpcf7-list-item-label{
	/*font-weight: 400;
	font-size: 14px;
	color: #505050;
	line-height: 20px;
	position: absolute;
	top: 0px;
	padding-left: 24px;
	display: block;*/
	/*display: table-cell;*/
	display: none;
}
.formulaire-container p.checkbox-container{
	margin-bottom: 40px;
	margin-left: 0px;
	position: relative;
	width: 100%;
	display: block;
}
.formulaire-container p.checkbox-container label{
	font-weight: 400;
    font-size: 14px;
    color: #505050;
    line-height: 20px;
    position: absolute;
    top: 4px;
    padding-left: 24px;
    display: block;
    margin: 0px;
}
.formulaire-container label{
	font-weight: 400;
	font-size: 14px;
	color: #505050;
	line-height: 20px;
	margin-bottom: 10px;
}
.formulaire-container input[type="text"],
.formulaire-container input[type="tel"],
.formulaire-container input[type="email"]{
	font-weight: 400;
	font-size: 14px;
	color: #505050;
	line-height: 20px;
	margin-bottom: 10px;
	width: 100%;
	padding: 6px 10px;
	margin: 0px;
}
.formulaire-container p.input-container{
	margin-bottom: 25px;
}
.formulaire-container input[type="submit"]{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 20px;
	background: #FEB130;
	border-radius: 4px;
	padding: 14px 15px 16px;
	text-align: center;
	border: none;
	width: 100%;
}
.formulaire-container input[type="submit"]:hover{
	background: #FFC544;
}
.formulaire-container input[type="submit"]:active{
	background: #D68908;
}
.formulaire-container p.submit-container{
	margin-bottom: 0px;
	position: relative;
}
.formulaire-container div.wpcf7 img.ajax-loader{
	position: absolute;
	bottom: -24px;
	right: 13px;
	z-index: 1;
}

.bloc-nos-services{
	background-color: #37464B;
	padding-top: 100px;
	padding-bottom: 70px;
	color: #fff;
}
.liste_de_lien_services{
	margin-top: 30px;
}
.liste_de_lien_services a{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 18px;
	display: block;
	margin-bottom: 27px;
}
.liste_de_lien_services a img{
	vertical-align: bottom;
	margin-right: 6px;
}

.bloc-equipe{
	padding-top: 100px;
	padding-bottom: 140px;
	background-color: #F7F5F3;
}
.bloc-equipe .liste-membres{
	margin: 50px -20px 30px 0px;
}
.bloc-equipe .liste-membres .membre{
	float: left;
	width: 70px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
.bloc-equipe .liste-membres .membre img{
	border-radius: 100%
}
.bloc-equipe .liste-membres .membre a{
	cursor: pointer;
}
.bloc-equipe .liste-membres .membre a .mouse-over{
	display: none;
	position: absolute;
	text-align: center;
	z-index: 999;
	width: 0px;
	left: 50%;
}
.bloc-equipe .liste-membres .membre a .mouse-over:before{
	content: " ";
	border-style: solid;
	border-width: 0px 10px 10px;
	border-color: transparent transparent #233237 transparent;
	border-color: transparent transparent rgba(35,50,55,0.95) transparent;
	position: absolute;
	left: -10px;
}
.bloc-equipe .liste-membres .membre a .mouse-over h5{
	background-color: #233237;
	background-color: rgba(35,50,55,0.95);
	margin: 0px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 130px;
	left: -65px;
}
.bloc-equipe ul{
	padding-left: 28px;
	margin-top: 20px;
}
.bloc-equipe ul li{
	font-weight: 300;
	font-size: 16px;
	line-height: 40px;
	padding-left: 9px;
}


.membre-mobile{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #233237;
	background-color: rgba(35,50,55,0.95);
	padding-top: 30px;
	padding-bottom: 10px;
}
.membre-mobile .close-mm{
	position: absolute;
	top: 10px;
	right: 15px;
	color: #fff;
	font-size: 20px;
}
.membre-mobile .nom-membre{
	float: left;
	display: table;
}
.membre-mobile .nom-membre img.image-membre{
	width: 65px;
	margin-right: 15px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 100%
}
.membre-mobile .nom-membre h2{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
}
.membre-mobile .bouton-membre{
	clear: both;
	float: right;
}
.btn-membre,
.btn-membre.focus,
.btn-membre:focus,
.btn-membre:hover{
	font-weight: 700;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 19px;
	background-color: #00C1F1;
	background-image: linear-gradient(-180deg, #00C1F1 0%, #00ADDD 100%);
	border-radius: 4px;
	text-transform: none;
	border: none;
	margin-bottom: 20px
}
.btn-membre img{
	width: 10px;
	height:17px;
	vertical-align: sub;
	margin-left: 5px;
}


.section-temoignage h2{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
	font-size: 24px;
	color: #00ADDD;
	line-height: 35px;
	margin: 0px 0px 20px;
}
.boite-temoignages{
	font-weight: 400;
	font-size: 14px;
	color: #505050;
	line-height: 20px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	border-radius: 4px;
}
.boite-temoignages .img-container{
	position: relative;
}
.btn-play{
	background-color: #FEB130;
	width: 70px;
	height: 70px;
	line-height: 70px;
    text-align: center;
    padding: 0px;
    border: none;
    border-radius: 35px;
}
.btn-play:hover,
.btn-play:focus,
.btn-play.focus{
	background-color: #FEB130;
}
.boite-temoignages .img-container .btn-play{
	position: absolute;
	bottom: -35px;
	right: 30px;
}
.btn-play img{
	vertical-align: middle;
	padding: 0px 0px 0px 2px;
	display: inline !important;
}
.boite-temoignages .img-container img.video-thumbnail{
	border-radius: 4px 4px 0px 0px;
	width: 100%;
}
.boite-temoignages .temoignages-info{
	padding: 20px 20px 35px;
}
.boite-temoignages h3{
	font-weight: 400;
	font-size: 18px;
	color: #505050;
	line-height: 20px;
	margin: 0px 0px 10px;
}
.boite-temoignages a{
	font-weight: 400;
	font-size: 16px;
	color: #00ADDD;
	line-height: 25px;
	display: block;
	margin: 20px 0px 0px;
}

/* Infolettre */
.infolettre{
	background-color: #37464B;
	padding-top: 40px;
	padding-bottom: 40px;
}
.infolettre-gauche{
	float: left;
}
.infolettre-droite{
	float: right;
}
.infolettre h2{
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 20px;
	color: #fff;
	line-height: 22px;
	margin: 0px;
}
.infolettre h2 img{
	margin-right: 18px;
	vertical-align: text-bottom;
}
.infolettre .input-email-container{
	float:left;
}
.infolettre input[type="email"]{
	border: none;
	background: #FFFFFF;
	border-radius: 4px;
	font-size: 14px;
	color: #505050;
	line-height: 16px;
	padding: 12px 20px;
    float: left;
    width: 315px;
    height: 40px;
}
.infolettre .input-submit-container{
    float: left;
}
.infolettre input[type="submit"]{
	border: none;
    background-color: #00C1F1;
    background-image: url(images/Arrow-white-next.png), linear-gradient(-180deg, #00C1F1 0%, #00ADDD 100%);
    background-repeat: no-repeat, repeat;
    background-position: 84% center, center;
    background-size: 8px 15px, auto auto;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
    padding: 11px 48px 10px 20px;
    margin-left: 10px;
}



/* FOOTER */
.site-footer{
	background-color: #233237;
	color: #fff;
	padding-top: 70px;
	padding-bottom: 44px;
	font-size: 14px;
	line-height: 22px;
}
.site-footer a{
	color: #fff;
}
.logo-footer img{
	width: 253px;
}
.site-footer h2{
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 16px;
	line-height: 21px;
	padding-bottom: 9px;
	border-bottom: solid 1px #646464;
	margin: 0px 0px 21px;
}
.site-footer h2.deuxieme-h2{
	margin-top: 30px;
}
.site-footer .adresse{
	margin-bottom: 30px;
}
.footermenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footermenu a {
	color: #fff;
	line-height: 30px;
}
.social-buttons{
	margin-top: 9px;
}
.social-buttons img{
	width:26px;
	height:26px;
}
.social-buttons a{
	float: left;
	margin-right: 10px;
}
.social-buttons a:last-child{
	margin-right: 0px;
}
.bas-de-pied-de-page{
	font-size: 12px;
	line-height: 21px;
	margin-top: 50px;
}
.bas-de-pied-de-page p:before{
	content: "* ";
	font-size: 12px;
	color: #D6E225;
	line-height: 21px;
}

/* FICHE VOYAGE */
.header-fiche-voyage{
	position: relative;
	background-color: #37464B;
	min-height: 120px;
}
.header-fiche-voyage img{
	width: 100%;
	display: block;
	height: auto;
}
.titre-fiche-voyage{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 120px;
	background-image: url(images/shadow.png);
	background-repeat: repeat-x;
	background-size: 10px 120px;
}
.titre-fiche-voyage div{
	height: 100%;
}
.titre-fiche-voyage h1{
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 42px;
	color: #FFFFFF;
	line-height: 52px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	margin: 0px;
}

.banniere-bleu{
	background-color: #00ADDD;
	padding-top: 21px;
	padding-bottom: 22px;
}
.banniere-bleu .pays{
	float: left;
	margin-right: 30px;
}
.banniere-bleu .theme{
	float: left;
}
.banniere-bleu span.etiquette{
	font-weight: 500;
}
.banniere-bleu span{
	font-weight: 400;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 16px;
}

.banniere-bleu-gris{
	background-color: #233237;
	background-image: linear-gradient(-179deg, #37464B 0%, #233237 100%);
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	box-shadow: inset 0px 2px 0px 0px #556469;
}
.banniere-bleu-gris ul{
	margin: -1px 0px 0px;
	padding: 0px;
	list-style: none;
}
.banniere-bleu-gris ul li{
	float: left;
	background-color: #233237;
	background-image: linear-gradient(-179deg, #37464B 0%, #233237 100%);
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	box-shadow: inset 0px 2px 0px 0px #556469;
}
.banniere-bleu-gris ul li:first-child{
	border-radius: 4px 0px 0px 0px;
}
.banniere-bleu-gris ul li:last-child{
	border-right: 1px solid #000000;
	border-radius: 0px 4px 0px 0px;
}
.banniere-bleu-gris ul li a{
	font-weight: 700;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	padding: 18px 27px;
	display: block;
	text-transform: uppercase;
	cursor: pointer;
}
.banniere-bleu-gris ul li a:hover,
.banniere-bleu-gris ul li.active a{
	color: #D6E225;
	text-decoration: none;
}

body.single-voyages{
	font-size: 14px;
	line-height: 25px;
	background-color: #F7F5F3;
}
body.single-voyages #content{
	padding-bottom: 160px;
}

.onglet{
	display: none;
}

.itineraire{
	padding: 40px 0px 25px;
}
.itineraire h2{
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	margin: 0px 0px 20px;
}
.itineraire .zone-italic{
	font-family: 'Lora', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	color: #505050;
	line-height: 26px;
	margin-top: 15px;
}
.itineraire .zone-italic .text-zone-italic{
	padding-top: 7px;
	padding-bottom: 7px;
}

.points-forts{
	padding: 20px 0px 25px 15px;
	margin-left: -15px;
	border-top: solid 1px #E6E6E6;
}
.points-forts h3{
	font-size: 18px;
	line-height: 20px;
	margin: 0px 0px 15px;
}
.itineraire ul,
.points-forts ul{
	padding-left: 18px;
	list-style: url('images/puce-bleue.png');
}
.itineraire ul li,
.points-forts ul li{
	padding-left: 10px;
	font-weight: 400;
	font-size: 14px;
	color: #505050;
	line-height: 35px;
}

.map{
	border: 10px solid #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
	margin-top: 20px;
}
.map iframe{
	vertical-align: top;
	width: 100%;
	height: 400px;
}

.horaire{
	padding-top: 30px;
}
.horaire-boite{
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 20px 20px 5px;
	font-size: 14px;
	line-height: 25px;
}
.horaire-boite h2{
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 18px;
	color: #787878;
	line-height: 20px;
	margin: 0px 0px 15px;
}

.fiche-voyage-bouton{
	padding-top: 20px;
}
.fiche-voyage-bouton .btn{
	margin-top: 10px;
}
.partager-liens-bas{
	padding: 0px;
	margin: 15px 0px 0px 0px;
}

.tab-content img{
	max-width: 100%;
	display: block;
}
.section-specialiste{
	margin-bottom: 30px;
}
.specialiste-image{
	max-width: none !important;
	width: 100px;
}

.btn-jaune,
.btn-jaune.focus,
.btn-jaune:focus,
.btn-jaune:hover{
	background: #FEB130;
	border-radius: 4px;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 20px;
	padding: 10px 12px 10px 20px;
	text-transform: none;
	text-align: left;
}
.btn-bleu,
.btn-bleu.focus,
.btn-bleu:focus,
.btn-bleu:hover{
	background: #00ADDD;
	border-radius: 4px;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 15px;
	color: #FFFFFF;
	line-height: 20px;
	padding: 10px 20px;
	text-transform: none;
	text-align: left;
}
.sidebar-fiche-voyage-boite .btn,
.fiche-voyage-bouton .btn{
	width: 100%;
}
.sidebar-fiche-voyage-boite .btn span,
.fiche-voyage-bouton .btn span{
	float: left;
}
.sidebar-fiche-voyage-boite .btn img,
.fiche-voyage-bouton .btn img{
	float: right;
	width: 8px;
	height: 14px;
	margin-top: 3px;
}

.sidebar-fiche-voyage{
	position: relative;
	top: -225px;
	margin-bottom: -225px;
}
.sidebar-fiche-voyage h2{
	font-weight: 700;
	font-size: 12px;
	color: #505050;
	line-height: 14px;
	text-transform: uppercase;
	margin: 0px 0px 15px;
}
.sidebar-fiche-voyage h3{
	font-weight: 500;
	font-size: 14px;
	color: #787878;
	line-height: 35px;
	text-transform: uppercase;
	margin: 0px;
}
.sidebar-fiche-voyage h4{
	font-weight: 300;
	font-size: 32px;
	color: #787878;
	line-height: 52px;
	margin: 0px;
}

.sidebar-fiche-voyage-boite{
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	border-radius: 4px;
	padding: 20px 20px 0px;
	margin-bottom: 20px;
	font-weight: 400px;
	font-size: 14px;
	line-height: 21px;
}
.boite-prix{
	padding-bottom: 28px;
}
.boite-reservation{
	padding-bottom: 20px;
}

.month-list{
	margin: -5px -20px 20px;
}
.month-list>div{
	font-size: 14px;
	line-height: 24px;
	padding: 3px 20px;
}
.month-list>div:nth-child(odd){
	background-color: #F5F5F5;
}

.depart-p{
	padding-bottom: 10px;
}

.sfvb-section{
	border-top: solid 1px #E6E6E6;
	margin-left: -20px;
	margin-right: -20px;
	padding: 15px 20px 5px;
}
.boite-reservation .sfvb-section{
	padding-bottom: 0px;
}
.boite-reservation .sfvb-section p{
	margin: 0px;
}

.sidebar-fiche-voyage-boite .btn{
	margin-bottom: 20px;
}
.voir-tous-les-prix{
	cursor: pointer;
}
.sidebar-fiche-voyage-boite a.lien-bleu{
	font-size: 14px;
	color: #00ADDD;
	line-height: 16px;
}
.sidebar-fiche-voyage-boite a.lien-bleu img{
	margin-left: 18px;
	width: 7px;
	height: 14px;
}

.partager-liens{
	padding-bottom: 27px;
	margin-right: -6px;
}

.galerie-photo{
	margin-right: -10px;
	margin-bottom: 40px;
}
.galerie-photo h2{
	padding-top: 10px;
}
.galerie-photo .photo{
	float: left;
	width: 50%;
	padding-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.overlay-photo{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 10px;
	bottom: 0px;
	text-align: center;
	background-color: rgba(35,50,55,0.75);
	/*Transition*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover .overlay-photo{
	visibility: visible;
	opacity: 1;
}
.overlay-table{
	display: table;
	width: 100%;
	height: 100%;
}
.overlay-cell{
	display: table-cell;
	vertical-align: middle;
}

.galerie-video .video{
	position: relative;
	margin-bottom: 10px;
}
.overlay-video{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	background: rgba(35,50,55,0.50);
}
.overlay-video .img-container{
	background: #FFFFFF;
	border-radius: 40px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
}


/* galerie */

a.pp_next,
a.pp_previous,
.pp_gallery,
div.pp_default .pp_expand,
div.pp_default .pp_nav .currentTextHolder,
.pp_nav .pp_play{
	display: none !important;
}

.pp_fade{
	position: relative;
}
div.pp_default .pp_details{
	position: static;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0px !important;
}
div.pp_default .pp_nav{
	position: static;
	width: 100%;
	margin: 0px;
	height: 100%;
}


div.pp_default a.pp_arrow_previous{
	position: absolute;
	top: 0px;
	left: -50px;
	height: 100%;
	background-image: url(images/Arrow-white-prev.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px;
	width: 44px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.pp_default a.pp_arrow_next{
	position: absolute;
	top: 0px;
	left: auto;
	right: -50px;
	height: 100%;
	background-image: url(images/Arrow-white-next.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px;
	width: 44px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.pp_default .pp_top{
	margin-top: -29px;
}
div.pp_default .pp_top .pp_middle{
	height: 42px;
	z-index: 99;
}
div.pp_default .pp_content_container .pp_left{
	padding-top: 29px;
}
div.pp_default .pp_content_container .pp_right{
    margin-top: -29px;
    padding-top: 29px;
}
div.pp_default .pp_close{
	top: -30px;
	z-index: 999;
}

div.pp_default .pp_description{
	position: absolute;
	left: 10px;
	bottom: -31px;
	font-size: 16px;
}

div.pp_default .pp_social{
    margin: 0px;
    position: absolute;
    top: -30px;
    left: 5px;
    z-index: 999;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{
	height: auto !important;
}
.stButton .stArrow{
	display: none !important;
}

#pp_full_res{
	position: relative;
	z-index: 999;
}

#video-url{
	display: none;
}


/* TÉMOIGNAGES */
.bloc-principal-temoignage{
	padding-top: 70px;
	padding-bottom: 150px;
	background-color: #F7F5F3;
}

.formulaire-container img.img-bottom{
	margin: 20px auto -10px;
}

.liste-temoignages{
	margin-top: 70px;
}

.selecteur-temoignage ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.selecteur-temoignage ul li{
	margin-bottom: 18px;
	line-height: 22px;
}
.selecteur-temoignage ul li a{
	font-weight: 400;
	font-size: 16px;
	color: #00ADDD;
	line-height: 22px;
}

.boite-page-temoignages .img-container{
	position: relative;
}
.boite-page-temoignages .btn-play{
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.boite-page-temoignages{
	font-weight: 400;
	font-size: 14px;
	color: #505050;
	line-height: 22px;
	margin-bottom: 20px;
}
.boite-page-temoignages:last-child{
	margin-bottom: 0px;
}
.boite-page-temoignages .info-temoignage .nom{
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 16px;
	color: #505050;
	line-height: 20px;
	margin: 30px 0px 5px;
}
.boite-page-temoignages .info-temoignage .titre{
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 14px;
	color: #505050;
	line-height: 18px;
	margin: 0px;
}
.boite-page-temoignages .info-temoignage{
	padding: 30px 30px 55px;
	background: #FFFFFF;
	border: 1px solid #DCDCDC;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
}
.boite-page-temoignages .info-temoignage.no-video{
	border-top: 1px solid #DCDCDC;
	border-radius: 4px;
}
.boite-page-temoignages .img-container .video-thumbnail{
	border-radius: 4px 4px 0px 0px
}


.btn-contact,
.btn-contact:hover,
.btn-contact:active,
.btn-contact.hover{
	background: #00ADDD;
    border-radius: 4px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    color: #FFFFFF !important;
    line-height: 20px;
    padding: 10px 20px;
    text-transform: none;
    text-align: left;
    border: none;
}
.map-contact{
	border: 10px solid #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
}
.map-contact iframe{
	vertical-align: top;
	width: 100%;
	height: 400px;
}
.contact-form p{
	margin-bottom: 10px;
}
.input-date{
	width: 400px;
	max-width: 100%;
}
.captcha-container{
    display: inline-block;
    position: relative;
    width: 400px;
    max-width: 100%;
}
.captcha-input-container{
    display: inline-block;
    width: 100%;
    padding-right: 80px;
    margin-right: -80px;
}
.captcha-img{
	vertical-align: top;
	position: relative;
	top: 4px;
}
.contact-form input[type='text'],
.contact-form input[type='tel'],
.contact-form input[type='email'],
.contact-form input[type='number'],
.contact-form select,
.contact-form textarea{
	width: 400px;
	max-width: 100%;
	border: solid 1px #ccc;
	background-color: #fff;
	padding: 2px 7px;
	border-radius: 0px;
}
.contact-form select{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background-image: url('images/dropdown.png');
	background-repeat: no-repeat;
	background-position: 96.5% center;
}
.input-date-jour{
	width: 30% !important;
}
.select-date-mois-container{
	width: 40%;
	padding: 0px 15px;
	display: inline-block;
}
.select-date-mois{
	width: 100% !important;
	background-position: 91% center !important;
}
.input-date-annee{
	width: 30% !important;
}
.select-gauche{
	width: 50%;
	padding-right: 7.5px;
	display: inline-block;
}
.select-droite{
	width: 50%;
	padding-left: 7.5px;
	display: inline-block;
}
.select-gauche select,
.select-droite select{
	width: 100%;
	background-position: 94% center;
}
.red-text{
	color: #cc0000;
}
.lien-bleu{
	color: #00ADDD;
}

.main-contact p{
	margin-bottom: 20px;
}
.text-sous-submit{
	font-size: 14px;
	line-height: 24px;
}

input[type=checkbox],
input[type=radio]{
	margin-right: 8px;
}
.radio-label{
	font-weight: 400;
	margin-right: 10px;
}
.label-no-margin label{
	margin: 0px !important;
}
.resultat-author{
	position: relative;
}
.resultat-author .resultat-author-image{
	width: 50px;
	margin-right: 10px;
	border-radius: 100%;
}
.resultat-author .favorite{
	position: absolute;
	top: 35px;
	right: 10px;
}


/* ÉQUIPE LISTE */
section {
	padding: 80px 0;
}
section.blue {
	background: #00ADDD;
	padding: 153px 0;
	background-position:center center;
}
section.lightgray {
	background: #F7F9FA;
}
section.gray {
	background: #F7F5F3;
}
section.blue h1 {
	font-family: 'Lora', serif;
    font-weight: 700;
	font-size: 72px;
	color: #FFFFFF;
	line-height: 94px;
	margin: 0;
	font-style: italic;
}
section.lightgray h2 {
	font-family: "Roboto";
	font-weight: 300;
	font-size: 42px;
	color: #505050;
	line-height: 49px;
}
section.notoppadding {
	padding-top: 0;
}
section.bandeau {
	height: 80px;
}
.nopadding {
	padding: 0;
	margin: 0;
}
.membre-equipe p {
	font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
	font-size: 18px;
	color: #505050;
	line-height: 24px;
	margin-top: 15px;
	margin-bottom: 0;
}
.membre-equipe p.titre {
	margin-top: 5px;
}
.membre-equipe a:hover {
	text-decoration: none;
}
.membre-equipe .hr {
	margin-top: 15px;
}
.membre-equipe img:not(.hr) {
	width: 100%;
	height: auto;
	border-radius: 100%;
}
.membre-equipe p small {
	font-size: 14px;
	color: #787878;
	line-height: 18px;
}

/* VOYAGES SUR MESURE */


.banniere-voyage-surmesure h1 {
	font-family: 'Lora', serif;
    font-weight: 700;
	font-size: 72px;
	font-style: italic;
	color: #FFFFFF;
	line-height: 94px;
	text-shadow: 0px 0px 30px rgba(0,0,0,0.50);
	text-align: center;
	margin: 0px;
}

.overlay-top .row {
	display: table;
	vertical-align: middle;
	margin-top: 35px;
}

.overlay-top .row > div {
	display: table-cell;
	vertical-align: middle;
	float: none;
	height: 130px;
	padding: 0 15px;
	margin-top: 35px;

}

.overlay-top .row > div + div {
	border-left: 1px solid #fff;
	padding-left: 30px;
}

.overlay-top .row > div + div a {
	display: inline-block;
	color: #fff;
	font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 21px;
	text-decoration: underline;
}


.banniere-voyage-surmesure h2 {
	font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
	font-size: 42px;
	color: #FFFFFF;
	line-height: 55px;
	margin: 0;
}

.banniere-voyage-surmesure {
	position: relative;
	overflow: hidden;
	height: 800px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banniere-voyage-surmesure .main-container{
	height: 100%;
	padding-bottom: 240px;
}

.overlay-blur {
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 240px;
	background-position: bottom center;
	border-radius: 4px 4px 0px 0px;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.overlay-top{
	background-color: rgb(0,172,221);
	background-color: rgba(0,172,221,0.75);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 240px;
	z-index: 100;
	padding: 20px;
}
section.reenie-title {
	padding: 40px 0;
}
section.reenie-title h2 {
	font-family: "Reenie Beanie";
	font-size: 72px;
	color: #FEB130;
	line-height: 82px;
	margin: 20px 0px 10px !important;
}
.menu-thematiques, .resultat {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	border-radius: 4px;
	margin-bottom: 20px;
}
.resultat-content .active{
	text-decoration: underline;
}
.menu-thematiques h3 {
	font-family: 'Lora', serif;
    font-weight: 700;
	font-style: italic;
	font-size: 16px;
	color: #505050;
	line-height: 21px;
	padding: 20px 0 0px 15px;
	margin: 0;
}
.menu-thematiques ul {
	padding: 10px 0;
	margin:  0;
	list-style: none;
}
.menu-thematiques ul li a,
.menu-thematiques ul li .dropdown-open {
	font-family: "Roboto";
	font-size: 14px;
	color: #505050;
	line-height: 24px;
	display: block;
	padding: 8px 15px;
	background-image: url('images/grayarrow.png');
	background-position: right 15px center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 0px;
}

.menu-thematiques ul > li.dropdown > .dropdown-open {
	background-image: url('images/grayarrowdown.png');
	background-position: right 12.5px center;
}

.menu-thematiques ul li.dropdown ul.sub-menu li a {
	background-image: url('images/grayarrow.png');

}

.menu-thematiques ul li a:hover,
.menu-thematiques ul li a.active,
.menu-thematiques ul li.active a{
	color: #969696;
	text-decoration: none;
}
.menu-thematiques ul li {
	border-bottom: 1px solid #E6E6E6;
	padding: 0;
	margin: 0;
}
.menu-thematiques ul li.last,
.menu-thematiques ul li:last-child {
	border :0;
}

.menu-thematiques ul ul li {
	border: 0;
}

.menu-thematiques ul ul li a {
	line-height: 24px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.menu-thematiques ul ul.sub-menu {
	padding: 0;
	margin: 0;
	padding-left: 15px;
	padding-bottom :10px;
	display: none;
}

.resultat .resultat-content.no-resultat-image{
	float: none !important;
	max-width: none !important;
}
.resultat .resultat-content {
	padding: 30px 30px 20px;
	float: left;
	max-width: 477px;
}
.ie8 .resultat .resultat-content {
	max-width: 410px;
}
.resultat .resultat-content p {
	font-size: 14px;
	color: #505050;
	line-height: 22px;
}
.resultat .resultat-content p a {
	color: #00ADDD;
}
.resultat .resultat-content .media-body {
	/* Élaboré par : Isabel: */
	font-size: 14px;
	color: #505050;
	line-height: 20px;
}
.resultat .resultat-content h3, .resultat .resultat-content h3 a {
	margin-top: 0;
	/* La Gastronomie en It: */
	font-size: 24px;
	color: #00ADDD;
	line-height: 26px;
	text-decoration: none;
}
.resultat .resultat-content h3 a:hover,
.resultat .resultat-content p a:hover,
.resultat .resultat-content h3 a:focus,
.resultat .resultat-content p a:focus{
	color: #0095BF;
	text-decoration: none;
}
.resultat .resultat-image{
	float: right;
}
.resultat .resultat-image img{
	border-radius: 0px 4px 4px 0px;
	width: 370px;
}
.resultat .media {
	margin-bottom: 15px;
}

/* BLOG */

.bloc-principal-voyage-daffaire #secondary ul li {
	margin: 0 !important;
}
.bloc-principal-voyage-daffaire #secondary ul li:before {
	top: 3px;
}
#secondary .cat-item-1{
	display: none;
}
.blog .page-title {
	margin-bottom: 40px;
}
.result .post-img img {
	width: 100%;
	vertical-align: middle;
	margin: 0;
}
.result {
	margin-bottom: 30px;
}
.result .post-img {max-height: 149px; overflow: hidden;}
.result .post-img.placeholder {padding: 0 10px; background-color: #37464B;}
.result .post-img.placeholder img {
	margin-top: 40px;
}
.result article {
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}
.result .entry-header {
	
}
.result .entry-header h3.entry-title {margin: 10px; text-align: center; font-size: 14px;}
.result .authordate {
	padding: 10px;
	border-top: 0;
	background: #00C1F1;
	margin-top: 0;
	font-size: 12px;
	color: #fff;
}
.single-post .authordate {
	padding: 0 0 30px;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}
h1.blogue-h1{
	text-align: center;
	font-size: 32px;
	line-height: 42px;
}
.result .authordate a {
	color: #fff;
	font-weight: bold;
}
.result .authordate a:hover {
	text-decoration: underline;
}
.result .authordate .media-left img, .authordate .media-left img {
	width: 50px;
	height: auto;
	border-radius: 25px;
}
.post-nav {
	background: #00C1F1;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	border-radius: 15px;
	color: #fff;
	text-align: center;
}
.nav-previous a:hover, .nav-next a:hover  {
	text-decoration: none;
}
.nav-previous a:hover .post-nav, .nav-next a:hover .post-nav {
	background: #D6E224;
}

.nav-previous, .nav-next {font-size: 12px;}
.nav-previous span, .nav-next span {font-size: 14px;}

.authordate .media-right {
	text-align: right;
	width: 30%;
}
#nav-below {
	margin-top: 0;
	margin-bottom: 20px
}
p.form-allowed-tags {
	display: none;
}
hr {
	clear: both;
}

/* FICHE ÉQUIPE */

section.offsetequipe .container {
	margin-top: -300px;
}

section.offsetequipe.nooffset .container {
	margin-top: 0px;
}

section.offsetequipe .side img {
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	border-radius: 100%;
}

section.offsetequipe .side .fakewell {
	/* Rectangle 18: */
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	border-radius: 4px;
	padding: 15px;
	margin-top: 30px;
}

section.offsetequipe .side .fakewell a {
	text-decoration: underline;
	color: #00ADDD;
}

section.offsetequipe .side .fakewell a.email {
	word-break: break-word;
}

section.offsetequipe .side .fakewell ul {
	padding-left: 20px;
}
section.offsetequipe .side .fakewell ul li {
	padding-left: 10px;
}

section.offsetequipe h1 {
	/* Isabelle Provost: */
	font-family: 'Lora', serif;
	font-size: 42px;
	font-style: italic;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 52px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	margin-top: 60px;
}

section.offsetequipe h2 {
	/* Spécialiste Gastrono: */
	font-size: 24px;
	color: #FFFFFF;
	line-height: 26px;
	margin-top: 55px;
	margin-bottom: 55px;
}

section.offsetequipe.nooffset h1, section.offsetequipe.nooffset h2 {
	color: #505050;
	text-shadow: none;
	margin: 20px auto 30px;
}
section.offsetequipe.nooffset h1 {
	margin-bottom: 0;
}
section.offsetequipe.nooffset h2 {
	margin-top: 0;
}

section.offsetequipe h3 {
	/* Spécialiste Gastrono: */
	font-size: 24px;
	color: #505050;
	line-height: 26px;
	margin-top: 40px;
	margin-bottom: 20px;
}

section.offsetequipe hr {
	margin: 25px 0;
}

section.offsetequipe .side h4 {
	/* Adresse courriel: */
	font-family:'Lora', serif;
	font-style: italic;
	font-weight: 700;
	font-size: 16px;
	color: #505050;
	line-height: 21px;
}

section.offsetequipe blockquote {
	/* "Ce qui motive Marti: */
	font-style: italic;
	font-size: 14px;
	color: #505050;
	line-height: 25px;
	border: 0;
	padding: 0;
}

section.offsetequipe .badge {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	border-radius: 2px;
	padding: 10px 20px;
	/* Gastronomie: */
	font-weight: 700;
	font-size: 14px;
	color: #505050;
	line-height: 16px;
	margin-bottom: 5px;
}

section.offsetequipe .galerie-photo .overlay-photo, section.offsetequipe .galerie-video .overlay-video {
	right: 15px;
	left: 15px;
}

section.offsetequipe .galerie-photo {
	margin: 0 auto;
}

.equipe-video-thumb{
	width: 100%;
}

span.says{
	display: none;
}
section#comments p{
	margin-bottom: 15px;
}
div.reply{
	margin-bottom: 20px;
}


@media (min-width: 768px){
	.site-header .topmenu {
		display: block;
	}
	.navbar-toggle {
		margin-top: 22px;
	}
	.site-header .search-container {
		width: auto;
	}
	.site-header .search-toggle {
		position: static;
		bottom: auto;
		right: auto;
		margin: 0;
	}
	.site-header .search-form {
		width: 275px;
	}
	.section {
		padding: 30px 0;
	}
	.navbar-collapse{
		padding-left: 0px;
		padding-right: 0px;
	}

	.bloc-equipe .liste-membres .membre a:hover .mouse-over,
	.bloc-equipe .liste-membres .membre a:focus .mouse-over{
		display: block;
	}
}
@media (min-width: 992px){
	.section {
		padding: 45px 0;
	}
	.container {
		max-width: 970px;
	}
	.div-btn-header{
		bottom:60px;
	}
}
@media (min-width: 1200px){
	.section {
		padding: 60px 0;
	}
	.container {
		max-width: 1170px;
	}
	.div-btn-header{
		bottom:35%;
	}
}



@media (max-width: 1499px){
	/* Carousel bas */
	.owl-carousel-bas.owl-carousel .owl-stage-outer{
		margin: 0px -100px 0px -70px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active{
		margin-left: 70px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active{
		margin-right: 100px !important;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active:last-child,
	.owl-carousel-bas.owl-carousel .owl-item:last-child{
		margin-right: -170px !important;
	}
	.owl-bas-prev{
		left: -60px;
	}
	.owl-bas-next{
		right: -60px;
	}
}
@media (max-width: 1399px){
	/* Carousel bas */
	.owl-carousel-bas.owl-carousel .owl-stage-outer{
		margin: 0px -50px 0px -20px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active{
		margin-left: 20px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active{
		margin-right: 50px !important;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active:last-child,
	.owl-carousel-bas.owl-carousel .owl-item:last-child{
		margin-right: -70px !important;
	}
	.owl-bas-prev{
		left: 30px;
	}
	.owl-bas-next{
		right: 30px;
	}
	.header-container .owl-bas-prev{
		left: 30px !important;
	}
	.header-container .owl-bas-next{
		right: 30px !important;
	}
	.header-container .owl-bas-prev,
	.header-container .owl-bas-next{
		top: 75px;
	}
	.owl-carousel-menu-horizontal .owl-stage-outer{
		margin: 0px 90px;
	}
	.owl-carousel-menu-horizontal .owl-stage-outer .owl-stage{
		margin: 0px -90px;
	}

	.header-container .carousel-size-4 .owl-bas-prev,
	.header-container .carousel-size-4 .owl-bas-next{
		display: block;
	}
	.banniere-voyage-surmesure {
		height: 650px;
	}
	.owl-carousel-haut .owl-item{
		height: 0;
		padding-bottom: 410px;
	}
}
@media (max-width: 1199px){
	#content > section.blue{
		padding: 128px 0;
	}
	.sous-menu li{
		padding-right: 25px;
		margin-right: 25px;
	}
	.sous-menu li a{
		font-size: 18px;
		padding-top: 19px;
		padding-bottom: 19px;
	}

	.sous-menu-horizontal{
		padding-bottom: 50px;
	}


	.sous-menu-horizontal ul li{
		margin-right: 40px;
	}
	.sous-menu-horizontal ul li a,
	.sous-menu-horizontal ul li span{
		font-size: 23px;
	}


	/* Carousel haut */
	.carousel-caption h2{
		font-size: 54px;
		line-height: 74px;
	}


	/* boîte bleue et blanches */
	.boite-bleue-et-blanche .bg-bleu{
		padding-right: 40px;
	}
	.boite-bleue-et-blanche .bg-blanc{
		padding-left: 40px;
	}
	.liste_liens a{
		font-size: 16px;
	}

	/* Carousel bas */
	.owl-carousel-bas.owl-carousel .owl-stage-outer{
		margin: 0px -80px 0px -50px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active{
		margin-left: 50px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active{
		margin-right: 80px !important;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active:last-child,
	.owl-carousel-bas.owl-carousel .owl-item:last-child{
		margin-right: -130px !important;
	}
	.owl-bas-prev{
		left: -50px;
	}
	.owl-bas-next{
		right: -50px;
	}
	.header-container .owl-bas-prev,
	.header-container .owl-bas-next{
		top: 50px;
	}
	.boite-coup-de-coeur img{
		height: 262px;
	}



	/* PAGE VOYAGES D'AFFAIRES */
	.banniere-voyage-daffaire{
		height:350px;
		padding-top: 105px;
	}
	.banniere-voyage-daffaire h1,
	.banniere-voyage-daffaire h2{
		font-size: 54px;
		line-height: 64px;
	}
	.banniere-voyage-daffaire h3{
		font-size: 38px;
		line-height: 50px;
	}
	.banniere-voyage-daffaire h4{
		font-size: 29px;
		line-height: 37px;
	}

	.bloc-principal-voyage-daffaire{
		padding-top: 90px;
		padding-bottom: 85px;
	}

	.bloc-nos-services{
		padding-top: 90px;
		padding-bottom: 80px;
	}

	.bloc-equipe{
		padding-top: 90px;
		padding-bottom: 90px;
	}




	/* Infolettre */
	.infolettre h2{
		font-size: 18px;
	}
	.infolettre input[type="email"]{
		width: 230px;
		padding: 12px 16px;
	}
	.infolettre input[type="submit"]{
		padding-left: 16px;
		padding-right: 40px;
		background-position: 85% center, center;
	}

	/* Fiche voyage */
	.banniere-bleu{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.banniere-bleu-gris ul li a{
		padding: 17px 15px;
	}

	.btn-bleu,
	.btn-bleu.focus,
	.btn-bleu:focus,
	.btn-bleu:hover{
		padding: 10px 12px 10px 15px;
	}
	.btn-jaune,
	.btn-jaune.focus,
	.btn-jaune:focus,
	.btn-jaune:hover{
		padding: 10px 12px;
		font-size: 13px;
	}
	.btn-jaune img{
		display: none;
	}

	.section-specialiste{
		margin-bottom: 20px;
	}

	.banniere-voyage-surmesure h1,
	section.blue h1 {
		font-size: 60px;
	}

	.banniere-voyage-surmesure h2{
		font-size: 38px;
	}

	.resultat .resultat-content{
		max-width: 397px;
	}
	.resultat .resultat-image img{
		max-width: 300px;
	}

}
@media (max-width: 1099px){
	/* Carousel bas */
	.owl-carousel-bas.owl-carousel .owl-stage-outer{
		margin: 0px -50px 0px -20px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active{
		margin-left: 20px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active{
		margin-right: 50px !important;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active + .active:last-child,
	.owl-carousel-bas.owl-carousel .owl-item:last-child{
		margin-right: -70px !important;
	}
	.owl-bas-prev{
		left: 30px;
	}
	.owl-bas-next{
		right: 30px;
	}
}
@media (max-width: 991px){
	body{
		font-size: 15px;
		line-height: 25px;
	}
	h1{
		font-size: 36px;
		line-height: 45px;
		margin-bottom: 20px;
	}
	h2{
		font-size: 36px;
		line-height: 45px;
		margin-bottom: 20px;
	}

	/* HEADER */
	.navbar-brand>img{
		width: 253px;
	}
	.site-header .topmenu{
		margin-top: 31px;
	}
	.navbar-collapse-header{
		margin-top: 15px;
	}
	.navbar-nav>li,
	.selecteur-langue,
	.telephone-header{
		margin-left: 17px;
	}
	.site-header .topmenu li a,
	.navbar-nav>li>a,
	.selecteur-langue a,
	.telephone-header span,
	.telephone-header a{
		font-size: 13px;
	}


	.header-container .owl-bas-prev,
	.header-container .owl-bas-next{
		top: 60px;
	}


	.header-container .carousel-size-3 .owl-bas-prev,
	.header-container .carousel-size-3 .owl-bas-next{
		display: block;
	}


	.sous-menu li{
		padding-right: 8px;
		margin-right: 8px;
	}
	.sous-menu li a{
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 21px;
	}
	.sous-menu-horizontal{
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.sous-menu-horizontal ul li a{
		font-size: 21px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.boite-menu-horizontal a span{
		font-size: 17px;
		padding-top: 13px;
	}

	.sous-menu-horizontal ul li{
		margin-right: 30px;
	}
	.sous-menu-horizontal ul li a,
	.sous-menu-horizontal ul li span{
		font-size: 20px;
		line-height: 22px;
	}


	/* Carousel haut */
	.carousel-caption{
		bottom: auto;
		top: 32%;
	}
	.carousel-caption h2{
		font-size: 42px;
		line-height: 56px;
	}
	.owl-carousel-haut .owl-dots{
		bottom: 25px;
	}


	/* boîte bleue et blanches */
	.boite-bleue-et-blanche h1,
	.boite-bleue-et-blanche h2{
		font-size: 33px;
	}
	.boite-bleue-et-blanche .bg-bleu{
		padding-right: 25px;
	}
	.boite-bleue-et-blanche .bg-blanc{
		padding-left: 25px;
	}
	.liste_liens a{
		width: 100%;
		margin-top: 15px;
	}
	.boite-bleue-et-blanche .bg-bleu .btn{
		padding: 13px 35px 13px 15px;
		background-position: 95% center;
		font-size: 17px;
	}


	/* Carousel bas */
	.voyage-coup-de-coeur{
		padding-bottom: 110px;
	}
	.voyage-coup-de-coeur .titre h2{
		margin: 50px 0px;
		font-size: 60px;
	}
	.owl-carousel-bas.owl-carousel .owl-stage-outer{
		margin: 0px -80px 0px -50px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active{
		margin-left: 50px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active{
		margin-right: 80px !important;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active:last-child,
	.owl-carousel-bas.owl-carousel .owl-item:last-child{
		margin-right: -130px !important;
	}
	.owl-bas-prev{
		left: -50px;
	}
	.owl-bas-next{
		right: -50px;
	}
	.boite-coup-de-coeur img{
		height: 308px;
	}



	/* PAGE VOYAGES D'AFFAIRES */
	.banniere-voyage-daffaire{
		height:300px;
		padding-top: 90px;
	}
	.banniere-voyage-daffaire h1,
	.banniere-voyage-daffaire h2{
		font-size: 48px;
		line-height: 58px;
	}
	.banniere-voyage-daffaire h3{
		font-size: 35px;
		line-height: 41px;
	}
	.banniere-voyage-daffaire h4{
		font-size: 26px;
		line-height: 33px;
	}

	.bloc-principal-voyage-daffaire{
		padding-top: 80px;
		padding-bottom: 75px;
	}

	.bloc-nos-services{
		padding-top: 80px;
		padding-bottom: 70px;
	}

	.bloc-equipe{
		padding-top: 80px;
		padding-bottom: 70px;
	}

	.bloc-principal-voyage-daffaire p{
		margin-bottom: 20px;
	}
	.bloc-principal-voyage-daffaire h3{
		font-size: 17px;
		line-height: 24px;
		margin: 25px 0px 20px;
	}
	.bloc-principal-voyage-daffaire ul li{
		margin-bottom: 18px !important;
	}

	.liste_de_lien_services a{
		font-size: 15px;
	}
	.liste_de_lien_services a img{
		margin-right: 3px;
	}

	.bloc-equipe .liste-membres{
		margin: 30px -20px 15px 0px;
	}
	.bloc-equipe ul li{
		font-size: 15px;
		line-height: 32px;
	}


	.formulaire-container{
		padding: 25px 25px 30px;
	}

	.btn-play{
		width: 56px;
		height: 56px;
		line-height: 56px;
	}
	.boite-temoignages .img-container .btn-play{
		bottom: -28px;
		right: 24px;
	}
	.boite-temoignages .temoignages-info{
		padding-bottom: 22px;
	}
	.boite-temoignages a{
		margin-top: 15px;
	}


	/* TÉMOIGNAGES */
	.bloc-principal-temoignage{
		padding-bottom: 100px;
	}
	.liste-temoignages{
		margin-top: 50px;
	}
	.boite-page-temoignages .info-temoignage{
		padding: 25px 25px 30px;;
	}
	.boite-page-temoignages .info-temoignage .nom{
		margin-top: 20px;
	}
	.selecteur-temoignage ul{
		margin: 0px -10px;
		text-align: center;
		margin-bottom: 10px;
	}
	.selecteur-temoignage ul li{
		display: inline-block;
		margin: 0px 5px;
		line-height: 20px;
	}
	.selecteur-temoignage ul li a{
		font-size: 15px;
		line-height: 20px;
		padding: 5px;
		display: inline-block;
	}


	/* Infolettre */
	.infolettre{
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.infolettre h2{
		font-size: 20px;
		margin-bottom: 16px;
	}
	.infolettre-gauche,
	.infolettre-droite{
		float: none;
	}
	.infolettre .input-email-container,
	.infolettre .input-submit-container{
		display: inline-block;
		float: none;
	}
	.infolettre input[type="email"],
	.infolettre input[type="submit"]{
		float: none;
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 40px;
	}
	.infolettre input[type="submit"]{
		margin-left: 7px;
	}


	/* FOOTER */
	.site-footer{
		font-size: 13px;
	}
	.site-footer h2{
		margin-bottom: 14px;
	}
	.site-footer h2.deuxieme-h2{
		margin-top: 20px;
	}
	.site-footer .adresse{
		margin-bottom: 20px;
	}
	.bas-de-pied-de-page{
		margin-top: 40px;
	}

	/* Fiche voyage */
	.header-fiche-voyage{
		min-height: 116px;
		overflow: hidden;
		max-height: 175px;
	}
	.titre-fiche-voyage{
		height: 116px;
	}
	.titre-fiche-voyage h1{
		font-size: 38px;
		line-height: 48px;
	}
	.banniere-bleu-gris ul li a{
		padding: 17px 17px;
	}
	body.single-voyages #content{
		padding-bottom: 120px;
	}
	.sidebar-fiche-voyage{
		top: 0px;
		margin-top: 20px;
		margin-bottom: 0px;
	}


	h1.blogue-h1{
		font-size: 28px;
		line-height: 38px;
	}

	#secondary ul{
		padding-left: 20px;
	}


	section.reenie-title h2{
		font-size: 60px;
	}
	#content > section.blue{
	    padding: 122px 0;
	}
	.owl-carousel-haut .owl-item{
		height: 0;
		padding-bottom: 310px;
	}
	.banniere-voyage-surmesure h1, section.blue h1{
	    line-height: 1.1em;
		font-size: 50px;
	}

	.home .owl-carousel-haut.owl-carousel{
	    overflow: hidden;
		max-height: 300px;
	}
	
	.banniere-voyage-surmesure{
		height: 550px;
	}
	.banniere-voyage-surmesure h2{
		font-size: 28px;
		line-height: 48px;
	}

	.resultat .resultat-content{
		max-width: 292px;
	}
	.resultat .resultat-image img{
		max-width: 240px;
	}


}
@media (max-width: 891px){
	/* Carousel bas */
	.owl-carousel-bas.owl-carousel .owl-stage-outer{
		margin: 0px -50px 0px -20px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active{
		margin-left: 20px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active{
		margin-right: 50px !important;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active + .active:last-child,
	.owl-carousel-bas.owl-carousel .owl-item:last-child{
		margin-right: -70px !important;
	}
	.owl-bas-prev{
		left: 30px;
	}
	.owl-bas-next{
		right: 30px;
	}
}
@media (max-width: 767px){
	body{
		font-size: 14px;
		line-height: 24px;
	}
	h1{
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 15px;
	}
	h2{
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	/* HEADER */
	#content > section.blue {
	    padding: 72px 0;
	}
	.owl-carousel-haut .owl-item {
	    height: 0;
	    padding-bottom: 215px;
	}
	.topmenu2,
	.telephone-header,
	.main-menu-container,
	.selecteur-langue,
	.navbar-collapse-header,
	.header-droite{
		float: none;
	}
	.selecteur-langue{
		margin: -7.5px -15px 7.5px;
	}
	.site-header .topmenu li a,
	.navbar-nav>li>a,
	.selecteur-langue a,
	.telephone-header span,
	.telephone-header a{
		font-size: 17px;
		line-height: 32px;
		text-align: center;
	}
	.navbar-nav>li,
	.telephone-header{
		margin-left: 0px;
	}
	.navbar-collapse-header{
		margin-top: 0px;
	}
	.navbar-brand{
		max-width: 80%;
		margin-top: 3px;
		margin-right: -30px;
	}
	.navbar-brand>img{
		max-width: 100%;
	}

	.dropdown-menu{
		background-color: #4B585D !important;
		border-radius: 0px;
	}


	.site-header-2{
		padding-top: 0px;
		height: auto;
	}
	.sous-menu li{
		padding-right: 0px !important;
		border-right: none !important;
		margin-right: 0px !important;
		display: block;
	}
	.sous-menu li a{
		padding-top: 15px;
		padding-bottom: 15px;
		display: block;
	}
	.sous-menu .dropdown-menu{
		top: 100%;
		left: -15px;
		right: -15px;
		border-radius: 0px;
		min-width: auto;
		padding: 15px 25px;
	}
	.sous-menu .dropdown-menu li a{
		line-height: 34px;
	}

	.navbar-nav .open .dropdown-menu>li>a{
		padding: 5px 15px 5px 15px;
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-nav .open .dropdown-menu>li>a:focus{
		text-decoration: underline;
	}
	.dropdown-menu>li>a:focus,
	.dropdown-menu>li>a:hover{
		background: transparent;
		color: #fff;
	}


	/* boîte bleue et blanches */
	.boite-bleue-et-blanche{
		font-size: 15px;
		line-height: 24px;
	}
	.boite-bleue-et-blanche h1,
	.boite-bleue-et-blanche h2{
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 15px;
	}
	.boite-bleue-et-blanche .bg-bleu,
	.boite-bleue-et-blanche .bg-blanc{
		padding: 30px 15px 40px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.boite-bleue-et-blanche .bg-bleu{
		background-image: linear-gradient(-135deg, #00C1F1 0%, #0099C9 100%);
	}
	.boite-bleue-et-blanche .bg-bleu .btn{
		margin-top: 15px;
	}
	.liste_liens{
		margin-top: 10px;
	}
	.liste_liens a{
		width: 49%;
	}

	/* Carousel haut */
	.carousel-caption{
		top: 30%;
	}
	.carousel-caption h2{
		font-size: 30px;
		line-height: 46px;
	}
	.carousel-inner>.item{
		overflow-x: hidden;
	}
	.carousel-inner>.item>a>img,
	.carousel-inner>.item>img{
		margin: 0px -15%;
		width: 130%;
		max-width: none;
	}
	.owl-carousel-haut .owl-dots{
		bottom: 5px;
	}
	.owl-carousel-haut .owl-dots .owl-dot{
		width: 10px;
		height: 10px;
		border: none;
		background-color: #fff;
	}
	.owl-carousel-haut .owl-dots .owl-dot.active{
		background-color: #FEB130;
		background-image: linear-gradient(-180deg, #FFC544 0%, #FEB130 100%);
	}
	


	/* Carousel bas */
	.voyage-coup-de-coeur{
		padding-bottom: 60px;
	}
	.voyage-coup-de-coeur .titre h2{
		font-size: 46px;
		line-height: 46px;
		margin: 40px 0px 35px;
	}
	.boite-coup-de-coeur .info{
		padding: 25px 18px 25px;
	}
	.coup-de-coeur-lien{
		margin-top: 15px;
		bottom: 28px;
		left: 18px;
	}
	.owl-carousel-bas.owl-carousel .owl-stage-outer{
		margin: 0px -30px 0px 0px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active{
		margin-left: 0px;
	}
	.owl-carousel-bas.owl-carousel .owl-item.active:last-child,
	.owl-carousel-bas.owl-carousel .owl-item:last-child{
		margin-right: -30px !important;
	}
	.owl-bas-prev{
		display: none;
	}
	.owl-bas-next{
		display: none;
	}
	.boite-coup-de-coeur img{
		width: auto;
		height: auto;
	}


	/* PAGE VOYAGES D'AFFAIRES */
	.bloc-principal-voyage-daffaire{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.banniere-voyage-daffaire{
		height:180px;
		padding-top: 26px;
	}
	.banniere-voyage-daffaire h1,
	.banniere-voyage-daffaire h2{
		font-size: 30px;
		line-height: 37px;
	}
	.banniere-voyage-daffaire h3{
		font-size: 21px;
		line-height: 28px;
	}
	.banniere-voyage-daffaire h4{
		font-size: 18px;
		line-height: 26px;
	}

	.bloc-principal-voyage-daffaire p{
		margin-bottom: 13px;
	}
	.bloc-principal-voyage-daffaire h3{
		font-size: 16px;
		margin: 20px 0px 15px;
	}
	.bloc-principal-voyage-daffaire ul li{
		font-size: 13px;
		line-height: 24px;
		margin-bottom: 13px !important;
	}


	.formulaire-container{
		position: static !important;
		margin-top: 25px;
		padding: 20px 20px 25px;
	}
	.formulaire-container h2{
		font-size: 21px;
		line-height: 31px;
	}
	.formulaire-container p.checkbox-container{
		margin-bottom: 35px;
	}
	.formulaire-container p.input-container{
		margin-bottom: 15px;
	}
	.formulaire-container input[type="text"],
	.formulaire-container input[type="tel"],
	.formulaire-container input[type="email"]{
		padding: 5px 8px;
	}
	.formulaire-container input[type="submit"]{
		padding: 12px;
	}
	.formulaire-container div.wpcf7 img.ajax-loader{
		bottom: -19px;
	}

	.bloc-nos-services{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.liste_de_lien_services{
		margin-top: 25px;
	}

	.bloc-equipe{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.bloc-equipe ul{
		margin-top: 15px;
	}
	.bloc-equipe ul li{
		font-size: 14px;
		line-height: 28px;
	}


	.section-temoignage h2{
		font-size: 21px;
		line-height: 31px;
		margin: 20px 0px 15px;
	}
	.boite-temoignages h3{
		font-size: 17px;
	}
	.boite-temoignages a{
		font-size: 15px;
	}



	/* Fiche voyage */
	.navbar-collapse-fiche-voyage{
		padding: 0px 45px 0px 0px;
	}
	.banniere-bleu-gris{
		min-height: 40px;
	}
	.banniere-bleu-gris ul{
	}
	.banniere-bleu-gris ul li{
		float: none;
		display: block;
		border: 1px solid #000000;
		border-bottom: none;
	}
	.banniere-bleu-gris ul li:first-child,
	.banniere-bleu-gris ul li:last-child{
		border-radius: 0px;
	}
	.banniere-bleu-gris ul li a{
		padding: 8px 15px;
	}

	.galerie-photo>.photo>a>img,
	.galerie-video>.video>a>img{
		max-width: none;
		width: 100%;
	}

	.specialiste-image{
		width: 70px;
	}


	.btn-jaune,
	.btn-jaune.focus,
	.btn-jaune:focus,
	.btn-jaune:hover{
		padding: 10px 12px;
		font-size: 15px;
	}
	.btn-jaune img{
		display: block;
	}


	/* Infolettre */
	.infolettre{
		padding-top: 20px;
	}
	.infolettre h2{
		background-image: url(images/Paper-plane.png);
		background-repeat: no-repeat;
		background-position: 0px center;
		padding: 10px 30px 10px 50px;
		display: inline-block;
		margin-bottom: 10px;
		font-size: 18px;
	}
	.infolettre h2 img{
		display: none;
	}



	/* FOOTER */
	.site-footer{
		padding-top: 30px;
		padding-bottom: 20px;
		font-size: 12px;
		line-height: 20px;
	}
	.site-footer .adresse{
		margin-bottom: 15px;
	}
	.bas-de-pied-de-page{
		margin-top: 30px;
		font-size: 11px;
		line-height: 20px;
	}
	.bas-de-pied-de-page br{
		display: none;
	}

	/* Fiche voyage */
	body.single-voyages #content{
		padding-bottom: 50px;
	}
	.header-fiche-voyage img{
		width: 130%;
		margin: 0px -15%;
	}
	.titre-fiche-voyage{
		top: 0;
		bottom: auto;
		height: 100%;
		background-size: contain;
	}
	.titre-fiche-voyage div{
		height: 100%;
	}
	.titre-fiche-voyage h1{
		margin-top: 0px;
		margin-bottom: 15px;
		font-size: 26px;
		line-height: 30px;
		position: absolute;
		bottom: 0px;
	}

	.banniere-bleu{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.banniere-bleu .pays{
		margin-right: 15px;
	}
	.banniere-bleu span,
	.banniere-bleu a{
		font-size: 13px;
	}

	.itineraire h2{
		margin-bottom: 12px;
	}
	.itineraire .zone-italic{
		margin-top: 5px;
	}
	.itineraire .zone-italic .text-zone-italic{
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.points-forts h3{
		margin-bottom: 10px;
	}
	.itineraire ul li,
	.points-forts ul li{
		line-height: 24px;
		padding-bottom: 2px;
	}
	.map{
		margin-top: 0px;
	}
	.map iframe{
		height: 300px;
	}
	.fiche-voyage-bouton{
		padding-top: 0px;
	}


	/* TÉMOIGNAGES */
	.bloc-principal-temoignage{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.liste-temoignages{
		margin-top: 10px;
	}
	.boite-page-temoignages .img-container .video-thumbnail{
		max-width: none;
		width: 100%;
	}

	.map-contact iframe{
		height: 300px;
	}


	h1.blogue-h1{
		font-size: 26px;
		line-height: 36px;
	}

	.result .post-img{
		max-height: none;
		height: auto !important;
	}

	.banniere-voyage-surmesure h1,
	section.blue h1 {
		font-size: 30px;
		line-height: 36px;
	}
	.banniere-voyage-surmesure {
		height: 400px;
	}
	.banniere-voyage-surmesure .main-container{
		padding-bottom: 185px;
	}
	.overlay-top .row > div {
		display: none;
	}
	.overlay-top .row > div + div {display: block; border-left: 0; padding: 0; text-align: center; width: 100%;}
	.overlay-top .row > div + div a {white-space: normal;}
	.overlay-top {
		min-height: 160px;
	}
	.banniere-voyage-surmesure{
		background-size: 960px 400px;
	}
	.overlay-blur {
		min-height: 185px;
		background-size: 960px 400px;
	}
	.overlay-top .row > div {
		height: 110px;
    	margin-top: 0;
	}
	section.offsetequipe .container {
	}
	section.offsetequipe img {
		width: auto !important;
	}
	section.offsetequipe .galerie-photo a > img, section.offsetequipe .galerie-video a > img {
		width: 100% !important;
		height: auto !important;

	}
	section.offsetequipe .galerie-photo .row > div, section.offsetequipe .galerie-video .row > div {;
		margin-bottom: 30px;
	}
	section.offsetequipe h1, section.offsetequipe h2, section.offsetequipe h3 {
		color: #505050;
		margin: 20px auto 30px;
		text-shadow: none;
	}
	section.offsetequipe .side img {
		display: block;
		margin: 0 auto;
	}

	section.offsetequipe h2{
		font-family: 'Lora', serif;
		font-size: 42px;
		font-style: italic;
		font-weight: 700;
		line-height: 52px;
	}
	section.offsetequipe.nooffset h2{
		margin: 20px 0px 0px;
	}
	section.offsetequipe h3{
		font-size: 24px;
		line-height: 26px;
		font-weight: 300;
	}
	section.offsetequipe.nooffset h3{
		margin: 0px 0px 30px;
	}
	section.reenie-title h2{
		font-size: 46px;
		line-height: 46px;
	}

	.resultat .resultat-content{
		max-width: none;
		float: none;
	}

}
@media (max-width: 480px){
	.input-date,
	.captcha-container,
	.contact-form input[type='text'],
	.contact-form input[type='tel'],
	.contact-form input[type='email'],
	.contact-form input[type='number'],
	.contact-form select,
	.contact-form textarea{
		max-width: none;
		width: 100%;
	}
	.owl-carousel-haut .owl-item {
	    height: 0;
	    padding-bottom: 100px;
	}
}
@media (max-width: 479px){
	h3{
		font-size: 17px;
	}
	/* Carousel haut */
	.carousel-caption{
		top: 30%;
		margin-top: -20px;
	}
	.carousel-caption h2{
		font-size: 23px;
		line-height: 36px;
	}
	.carousel-caption br{
		display: none;
	}

	/* boîte bleue et blanches */
	.liste_liens a{
		width: 100%;
	}
	.boite-bleue-et-blanche .bg-bleu .btn{
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		background-image: none;
	}

	/* Carousel bas */
	.voyage-coup-de-coeur .titre h2{
		font-size: 36px;
	}


	.bloc-equipe .liste-membres .membre{
		width: 66px;
	}

	/* Infolettre */
	.infolettre{
		padding-bottom: 70px;
	}
	.infolettre-droite{
		position: relative;
	}
	.infolettre .input-email-container{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		padding-right: 114px;
	}
	.infolettre input[type="email"]{
		float: left;
		width: 100%;
		padding: 0px 12px;
	}
	.infolettre input[type="submit"]{
		position: absolute;
		top: 0px;
		right: 0px;
		margin-left: 0px;
		background-color: #00C1F1;
		background-image: linear-gradient(-180deg, #00C1F1 0%, #00ADDD 100%);
		background-repeat: repeat;
		background-position: center;
		background-size: auto auto;
		padding: 0px 16px;
		font-size: 15px;
	}

	section.reenie-title h2{
		font-size: 40px;
	}
}
@media (max-width: 359px){
	/* Carousel bas */
	.voyage-coup-de-coeur .titre h2{
		font-size: 32px;
	}


	.bloc-equipe .liste-membres .membre{
		width: 80px;
	}


	/* Infolettre */
	.infolettre h2{
		padding: 10px 10px;
		background-image: none;
	}
	.infolettre input[type="email"]{
		font-size: 12px;
	}
}








.languague-wpml-en .voyage-coup-de-coeur,
.languague-wpml-en .infolettre {
  display: none;
}
