
// Simon Desautels 
// desautels.simon@gmail.com




// Le fichier style.css avant mon .less
@import (inline) "style-prepend.css";
// Il y avait un fichier style.less, mais je crois que ça venait avec le thème et que personne n'y a touché. 
// C'est maintenant style-from-underscroe.less (si quelqu'un veut le backup)



.languague-wpml-en {
	.voyage-coup-de-coeur,
	.infolettre {
		display: none;
	}
}