/*
Theme Name: Bootstrap 3 - Crayon
Theme URI: http://upplex.de/bootstrap-3-wordpress-theme-framework/
Author: upplex
Author URI: http://upplex.de
Description: upBootWP is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc. and Twitter Bootstrap 3. Feel free to edit it. 
Version: 0.1
License: GNU General Public License
License URI: license.txt
Text Domain: upbootwp
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

upBootWP is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc. and Twitter Bootstrap 3 

*/

@background: red;


/* GENERAL */
body{
	color:#505050;
	font-size:14px;
	background-color: @background;
}
a{
	color:#505050;
}
a:hover, a::active{
	color:#505050;
}
h1{
	font-size:26px;
	font-weight:300;
	margin-top:0px;
}
h2{
	font-size:24px;
	font-weight:300;
	margin-top:10px;
}
h3{
	font-size:20px;
	font-weight:400;
	margin-top:10px;
}
h4 {
	
}
h5 {
	
}
h6 {
	
}

/* HEADER */
.site-header .topmenu {
	float: right;
	display: none;
}
.site-header .topmenu ul {

}
.site-header .topmenu li {
	float: left;
	list-style: none;
	margin-left: 10px;
}
.site-header .topmenu li a {
	padding: 5px;
	font-size: 12px;
}
.site-header .search-container {
	float: right;
	position: relative;
	width: 100%;
}
.site-header .search-toggle {
	position: absolute;
	bottom: 100%;
	right: 30px;
	margin-bottom: 80px;
}
.site-header .search-form {
	display: none;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 100%;
	width: 100%;
	padding: 5px;
}
.navbar-brand {
	font-size: 26px;
	line-height: 30px;
	text-transform:uppercase;
	padding:15px;
	margin:0px;
	font-weight:300;
}
.site-header h1 {
	font-size: 26px;
	line-height: 30px;
	text-transform:uppercase;
	margin:0px;
	font-weight:300;
}
.navbar {
	margin-top:0px;
	margin-bottom:0px;
	border-radius: 0px;
	border: 0;
	min-height: 0;
}
.navbar-nav>li>a {
	padding:10px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:700;
}
.navbar-toggle {
	margin-top: 12px;
	margin-right:0px;
}
.navbar-toggle .icon-bar {
	height:3px;
	background-color: #505050;
}
/*
.navbar-default .navbar-nav>li>a {
	color:#3c3c3c;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li:hover>a {
	color: #333333;
	background-color: inherit;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color:#f0efef;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #505050;
}
.navbar-default .navbar-toggle:hover .icon-bar,.navbar-default .navbar-toggle:focus .icon-bar{
	background-color:#828282;
}*/


/* CONTENT */
.section {
	padding: 20px 0;
}
.white {
	background-color: #fff;
}
.lightgray {
	background-color: #eee;
}
.gray {
	background-color: #505050;
}
#content {
	padding: 0px;
}
.btn{
	border-radius:2px;
	text-transform: uppercase;
}
.btn-lg {
	border-radius: 2px;
	padding: 10px 30px;
}
.btn-primary {
	background-color: #f0c310;
	border-color: #f0c310;
}
.btn-primary:hover{
	background-color: #e0b60f;
	border-color: #e0b60f;
}
.div-btn-header{
	position:absolute;
	right:0px;
	left:0px;
	bottom:35%;
	z-index:999;
	text-align: center;
}
.lien_savoir_plus{
	text-decoration:underline;
	text-transform: uppercase;
	font-size:12px;
	font-weight:700;
}

/* FOOTER */
.site-footer{
	color: #eee;	
}
.footermenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footermenu a {
	color: #fff;
}
.social-buttons{
	margin-top:30px;
	text-align: right;
}
.social-buttons img{
	width:20px;
	height:20px;
}
.social-buttons a{
	margin-left:2px;
}



@media (min-width: 768px){
	.site-header .topmenu {
		display: block;
	}
	.navbar-toggle {
		margin-top: 22px;
	}
	.site-header .search-container {
		width: auto;
	}
	.site-header .search-toggle {
		position: static;
		bottom: auto;
		right: auto;
		margin: 0;
	}
	.site-header .search-form {
		width: 275px;
	}
	.navbar-nav>li>a{
		padding-top:30px;
		padding-bottom:30px;
	}
	.section {
		padding: 30px 0;
	}
}
@media (min-width: 992px){
	.section {
		padding: 45px 0;
	}
	.container {
		max-width: 970px;
	}
	.div-btn-header{
		bottom:60px;
	}
}
@media (min-width: 1200px){
	.section {
		padding: 60px 0;
	}
	.container {
		max-width: 970px;
	}
	.div-btn-header{
		bottom:35%;
	}
}