@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css');

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1800px
) !default;

@import "bootstrap/bootstrap.scss";

@media (max-width: 575px) {
  .navbar > .container {
    position: static;
    width: 100%;
  }
}

/* Max content widths */

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto
}

/* Jumbotron */
.jumbotron {
  background-size: cover;
  background-position: center center;
}

/* Navbar */

.navbar-topbar {
  border-radius: 0;
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

/* Main content */

#content article {
  margin: 40px 0
}

#content header {
  margin: 20px 0
}

#content section {
  margin-bottom: 20px
}

#content footer {
  padding-bottom: 20px
}

.page-header {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #eee;
  margin: 40px 0 20px;
  padding: 10px 14px;
}

/* Sidebar */

.sidebar {
  margin-top: 20px
}

.sidebar section {
  margin-bottom: 40px
}

.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}

.sidebar li {
  margin: 10px 0
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */

/* Comments */

#respond {
  margin-top: 40px
}

ol.commentlist {
  counter-reset: li; /* Initiate a counter */
  padding: 0
}

ol.commentlist ul {
  padding: 0
}

ol.commentlist > li {
  position: relative;
  margin: 0 0 20px 0;
  list-style: none /* Disable the normal item numbering */
}

ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}

ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f9f9f9;
}

.commentlist li li li {
  background: #fff
}

.commentlist li li li li {
  background: #f9f9f9
}

.commentlist li li li li li li {
  background: #fff
}

.commentlist li {
  padding: 20px
}

.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}

.reply p {
  margin: 0
}

/* Site footer */

.site-footer {
  padding: 40px 0
}

.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}

.site-footer li {
  margin: 10px 0
}

.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}

button:focus {
  outline: 0;
}

@include media-breakpoint-up(md) {
  .reveal {
    opacity: 0;
    bottom: -20px;
    -webkit-transition: all 1.5s linear;
    -moz-transition: all 1.5s linear;
    -o-transition: all 1.5s linear;
    transition: all 1.5s linear;
    transition-delay: 0.2s;
    position: relative;
  }

  .revealed {
    opacity: 1;
    bottom: 0;
  }
}

.container-edged {
  margin: auto;
  max-width: map-get($grid-breakpoints, "xxl");
}

.zoomfx {
  overflow: hidden;
  img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:hover img {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.clickbox {
  cursor: pointer;
}

.carousel-fade {
  .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}

.full-width {
  width: 100%;
  height: auto;
}

.screen-height-sm {
  @include media-breakpoint-up(sm) {
    height: 100vh;
  }
}

.screen-height-md {
  @include media-breakpoint-up(md) {
    height: 100vh;
  }
}

.screen-height-lg {
  @include media-breakpoint-up(lg) {
    height: 100vh;
  }
}

.screen-height-xl {
  @include media-breakpoint-up(xl) {
    height: 100vh;
  }
}

@mixin vertical-align-center($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fadeInSequence {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin fadout(){
  @keyframes fadout {
    0% {  opacity: 1;  }
    100% {  opacity: 0;  }
  }
  animation-name: fadeout;
  animation-duration: 1s;
}

@mixin colorTocolor($from,$to,$duration){
  @keyframes fromto {
    0% {  color: $from;  }
    100% {  color: $to;  }
  }
  animation-name: fromto;
  animation-duration: $duration;
}

@mixin bgcolorTobgcolor($from,$to,$duration){
  @keyframes bgfromto {
    0% {  background-color: $from;  }
    100% {  background-color: $to;  }
  }
  animation-name: bgfromto;
  animation-duration: $duration;
}

@mixin underliner($color,$size,$distance) {

  display: inline-block;
  position: relative;
  padding-bottom: $size;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: $distance;
    height: $size;
    width: 0;
    transition: width 0s ease, background .5s ease;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: $distance;
    height: $size;
    width: 0;
    background: $color;
    transition: width .5s ease;
  }
  &:hover:before {
    width: 100%;
    background: $color;
    transition: all .5s ease;
  }
  &:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }

}