@include media-breakpoint-down(sm) {
  .navbar-brand .logo_white {
    display: none;
  }
  .navbar-brand .logo_black {
    display: block;
    width: 100%;
    max-width: 100px;
    height: auto;
  }
  .mobile-phone {
    display: block;
  }
  #menu-main {
    float: none;
  }
  #navbarNavDropdown {
    background: #fff;
    -webkit-box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.54);
  }
  .main-menu {
    height: 45px;

  }
}

.main-header {
  background: #fff;
  @include media-breakpoint-up(md) {
    height: $main-menu_height+50;
  }
  .top {
    position: relative;
    z-index: 10;
    height: $top_height;
    background-color: #27282A;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      animation-name: menucolor1;
      animation-duration: 0.5s;
      &:hover {
        animation-name: menucolor2;
        animation-duration: 1s;
      }
    }
    .container-fluid {
      padding: 0 42px !important;
    }
    > div, > div > div {
      height: $top_height;
    }
    #concur {
      width: 91px;
      height: 23px;
      margin-left: 15px;
      position: relative;
      top: -2px;
    }
    #topphone {
      margin: auto 11px auto 71px;
      width: 21px;
      height: 21px;
      padding-left: 36px;
      position: relative;
      &:before {
        font-family: icomoon;
        font-weight: normal;
        content: "\e90e";
        position: absolute;
        top: -8px;
        left: 0;
        font-size: 24px;
      }
    }

    #searchform {
      text-align: right;
      .form-control {
        position: absolute;
        right: 50px;
        top:3px;
        border: none;
        height: 30px;
        border-radius: 0;
        background: #444;
        color: #fff;
        &:hover {
          background: #666;
        }
      }
      &:after {
        font-family: icomoon !important;
        color: #fff !important;
        font-size: 22px;
        content: "\e911" !important;
        animation-name: menucolor1;
        animation-duration: 0.5s;
      }
      &:hover:after {
        animation-name: menucolor2;
        animation-duration: 1s;
      }
      input[type="submit"] {
        position: absolute;
        right: 0;
        background: transparent;
      }
    }
    .langswitch {
      ul {
        @extend .list-inline;
        margin: 0;
        li {
          @extend .list-inline-item;
          margin: 0 !important;
          &:first-child:after {
            display: inline-block;
            content: '/';
            margin: 0 3px 0 3px;
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      font-size: 10px;
      #topphone {
        margin: auto 20px;
      }
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .menucontainer {
    @include media-breakpoint-down(sm) {
      height: $main-menu_mobileheight;
      > .row > .col {
        padding: 0;
        .navbar-toggler {
          border: 0;
          margin-top: 10px;
          width: 50px;
          height: 50px;
          font-size: 25px;
        }
      }
      #navbarNavDropdown {
        border-top: 1px solid #eee;
      }
    }
    .main-menu {
      height: $main-menu_mobileheight;
      padding: 0;
      background-color: #FFFFFF;
      position: relative;
      z-index: 11;
      @include media-breakpoint-up(md) {
        height: $main-menu_height;
        background-color: transparent;
      }

      .smallmenu_style {
        padding: 0;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: none;
      }

      .navbar-brand {
        position: relative;
        display: block;
        max-width: none !important;
        img {
          display: none;
        }
        margin: auto;
        padding: 0;
        position: relative;
        width: 122px !important;
        height: 50px !important;
        font-size: 35px;
        .standard-layout &, html.ff-ie9 & {
          @include media-breakpoint-between(md, lg) {
            width: 250px !important;
            height: 50px !important;
            &:before {
              //font-size: 36px;
              //top: 0;
              font-size: 52px;
              top: -5px;
            }
          }
          @media (min-width: 992px) and (max-width: 1300px) {
            width: 250px !important;
            height: 50px !important;
            &:before {
              //font-size: 36px;
              //top: 0;
              font-size: 52px;
              top: -18px;
            }
          }
          @media (min-width: 1301px) {
            width: 245px !important;
            height: 50px !important;
            &:before {
              font-size: 60px;
              top: -18px;
            }
          }
        }
        &:before {
          @include media-breakpoint-up(md) {
            font-size: inherit;
            height: 50px;
            position: absolute;
            top: 5px;
          }
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
        }

        @include media-breakpoint-up(md) {
          width: 228px !important;
          height: 90px !important;
          color: #fff;
          &:before {
            top: 0;
            left: 0;
            font-size: 60px;
            line-height: 60px;
          }
        }
        @include media-breakpoint-up(lg) {
          width: 345px !important;
          height: 90px !important;
          color: #fff;
          &:before {
            top: 0;
            left: 0;
            font-size: 80px;
            line-height: 80px;
          }
        }
      }

      .topmenu1, .topmenu2 a, a:before {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
      }

      .menucol1, .menucol2 {
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }

      .topmenu1 {
        li {
          @include media-breakpoint-down(sm) {
            padding: 0 34px !important;
          }
          &:first-child {
            ul > li {
              padding: 0 !important;
            }
            > a {
              display: none
            }
            ul.dropdown-menu {
              border: none;
              padding: 0;
              > li {
                display: none;
                &:first-child {
                  display: inline-block;
                  a {
                    display: block;
                    &:hover {
                      background: transparent;
                    }
                  }
                }
              }
              .standard-layout &, html.ff-ie9 & { // submenu service affaires standard
                //top:62px;
                z-index: 9;
                background: #fff;
                padding: 14px 34px 24px 34px;
                &.show {
                  top: $slideopenvar;
                  animation: slideopen 0.4s;
                  -moz-animation: slideopen 0.4s; /* Firefox */
                  -webkit-animation: slideopen 0.4s; /* Safari and Chrome */
                  animation-timing-function: ease-out;
                }

                a.dropdown-item {
                  @extend .smallmenu_style;
                  display: inline;
                  margin: 0;
                  padding: 0 !important;
                  white-space: nowrap;
                }
                li {
                  padding: 0 !important;
                  margin: 0;
                  display: inline-block;
                }
              }
            }
          }
          a {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            padding: 9px 0;
            border-bottom: 1px solid #eee;
            &:before {
              display: none;
              content: "";
            }
            @include media-breakpoint-up(md) {
              border-bottom: none;
            }
          }
        }

        @include media-breakpoint-down(md) {
          li {
            .standard-layout &, html.ff-ie9 & {
              a {
                padding-left: 0 !important;
                &:before {
                  display: none !important;
                  content: "" !important;
                }
              }
            }
          }
        }
        @include media-breakpoint-between(sm, md) {
          .standard-layout &, html.ff-ie9 & {
            li {
              margin-left: 10px;
              a {
                padding-top: 8px !important;
                padding-left: 0 !important;
              }
            }
          }
        }
        @include media-breakpoint-between(md, lg) {
          .standard-layout &, html.ff-ie9 & {
            li {
              margin-left: 10px;
              a {
                padding-left: 24px;
              }
            }
          }
        }
        @include media-breakpoint-between(lg, xl) {
          .standard-layout &, html.ff-ie9 & {
            li {
              margin-left: 10px;
              a {
                padding-left: 30px;
              }
            }
          }
        }
        @include media-breakpoint-up(xl) {
          .standard-layout &, html.ff-ie9 & {
            li {
              margin-left: 10px;
              a {
                padding-left: 40px;
              }
            }
          }
        }
        @include media-breakpoint-up(md) {
          li {
            padding: 0;
            &:first-child {
              display: list-item;
              > a {
                display: table;
              }
            }
            .standard-layout &, html.ff-ie9 & {
              margin-left: 15px;
            }
          }

          @include media-breakpoint-down(sm) {
            ul.dropdown-menu {
              .standard-layout &, html.ff-ie9 & {
                display: none !important;
                > li {
                  display: list-item;
                  &:first-child {
                    display: list-item;
                  }
                }
              }
            }
          }

          a.nav-link, a.dropdown-item {
            position: relative;
            font-weight: 600;
            width: 5px;
            height: 42px;
            display: table;
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            font-size: 11px;
            line-height: 13px;
            padding: 0 0 0 20px !important;
            @include media-breakpoint-up(md) {
              font-size: 8px;
            }
            @include media-breakpoint-up(xl) {
              font-size: 13px;
              line-height: 16px;
              padding: 0 0 0 30px;
            }

          }

          li a.nav-link:before, li > .dropdown-menu > li:first-child > a.dropdown-item:before {
            font-family: icomoon;
            display: block;
            position: absolute;
            height: 42px;
            left: 0;
            font-weight: normal;
            font-size: 13px;
            top: 5px;
            @include media-breakpoint-up(xl) {
              font-size: 20px;
              top: 5px;
            }
          }

          li:nth-child(1) {
            a.nav-link:before {
              content: "\e917" !important;
              font-size: 13px;
              width: 28px;
              top: 5px;
              z-index: 3;
              @include media-breakpoint-up(xl) {
                font-size: 24px;
                top: 5px;
              }
            }
          }
          li:nth-child(2) a.nav-link:before {
            content: "\e904";
            font-size: 15px;
            top: 7px;
            @include media-breakpoint-up(xl) {
              font-size: 27px;
              top: 7px;
            }
          }
          li:nth-child(3) a.nav-link:before {
            content: "\e914";
            font-size: 15px;
            top: 5px;
            @include media-breakpoint-up(xl) {
              font-size: 24px;
              top: 5px;
            }
          }
          li:nth-child(4) a.nav-link:before {
            content: "\e907";
            font-size: 18px;
            top: 7px;
            @include media-breakpoint-up(xl) {
              font-size: 30px;
              top: 7px;
            }
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
          li {
            margin-left: 20px;
          }
        }
        @include media-breakpoint-down(sm) {
          li {
            .standard-layout &, html.ff-ie9 & {
              margin-top: 0px;
            }
          }
        }

        @include media-breakpoint-up(md) {
          li {
            .standard-layout &, html.ff-ie9 & {
              margin-top: 10px;
            }
          }
        }
        @include media-breakpoint-up(lg) {
          li {
            .standard-layout &, html.ff-ie9 & {
              margin-left: 25px;
            }
          }
          a.nav-link {
            padding: 0 0 0 30px !important;
          }
        }
        @include media-breakpoint-up(xl) {
          li {
            a.nav-link {
              padding: 0 0 0 40px !important;
            }
            .standard-layout &, html.ff-ie9 & {
              margin-left: 25px;
            }
          }
        }
        @include media-breakpoint-up(xxl) {
          li {
            margin-left: 50px;
            .standard-layout &, html.ff-ie9 & {
              margin-left: 40px;
            }
          }
        }

      }

      .topmenu2 {

        li {

          @include media-breakpoint-down(sm) {
            .standard-layout &, html.ff-ie9 & {
              padding: 0 34px;
            }
          }
          @media screen and (min-width: 575px) and (max-width: 768px) {
            .standard-layout &, html.ff-ie9 & {
              padding: 0 44px;
            }
          }
          @include media-breakpoint-up(md) {
            .standard-layout &, html.ff-ie9 & {
              margin-top: 16px;
              margin-right: 5px;
            }
          }
          @include media-breakpoint-between(md, xl) {
            margin: 16px 10px 0 10px;
            .standard-layout &, html.ff-ie9 & {
              margin-top: 16px;
              margin-right: 5px;
            }
          }
          @include media-breakpoint-between(lg, xl) {
            margin: 16px 10px 0 10px;
            .standard-layout &, html.ff-ie9 & {
              margin-top: 8px;
              margin-right: 5px;
            }
          }
          @include media-breakpoint-between(md, xl) {
            .standard-layout &, html.ff-ie9 & {
              a {
                font-size:10px;
                //color:darkblue !important;
              }
            }
          }


          @include media-breakpoint-up(xl) {
            margin: 16px 15px 0 15px;
            .standard-layout &, html.ff-ie9 & {
              margin-top: 28px;
              margin-right: 5px;

            }
          }
          @include media-breakpoint-up(xxl) {
            margin: 16px 20px 0 20px;
            .standard-layout &, html.ff-ie9 & {
              margin-top: 28px;
              margin-right: 5px;

            }
          }

          a.nav-link {
            @extend .smallmenu_style;
          }
          @include media-breakpoint-down(md) {
            @include media-breakpoint-down(sm) {
              margin-left: 0 !important;
            }
          }
          @include media-breakpoint-down(sm) {
            padding: 0 34px;
          }
          a.nav-link, a.dropdown-item {
            @include media-breakpoint-down(sm) {
              font-size: 12px;
              padding: 9px 0;
              border-bottom: 1px solid #eee;
              &:before {
                display: none;
                content: "";
              }
            }
          }
        }

      }

    }
  }
}

.menucontainer {
  @include media-breakpoint-down(sm) {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.standard-layout {
  .menucol1, .menucol2, .menurowcontainer {
    padding: 0 !important;
  }
  .menurowcontainer {
    @include media-breakpoint-up(lg) {
      @include media-breakpoint-down(xl) {
        position: relative;
        left: -30px;
      }
    }
  }
  .topmenu1 .dropdown-menu {
    border-radius: 0;
    height: auto;
    li.menu-item {
      display: list-item !important;
      a.dropdown-item {
        display: block;
        width: 100% !important;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .menucol1, .menucol2 {
    width: 100%;
  }
}

.mobilelang {
  a {
    color: #ccc !important;
    font-size: 12px;
    padding: 9px 0;
    text-transform: uppercase;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
  li {
    @include media-breakpoint-down(sm) {
      padding: 0 34px;
    }
    @media screen and (min-width: 575px) and (max-width: 768px) {
      .standard-layout &, html.ff-ie9 & {
        padding: 0 44px;
      }
    }
    a.nav-link, a.dropdown-item {
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        padding: 9px 0;
        border-bottom: 1px solid #eee;
        &:before {
          display: none;
          content: "";
        }
      }
    }
  }
}

#navbarNavDropdown {
  @include media-breakpoint-up(md) {
    display: block !important;
    .col-md {
      padding: 0;
    }
  }
}

html:not(.ff-ie9) body.page-template-page-home {
  $main-menu_height: 60px;
  margin-bottom: 0 !important;
  .site-container {
    height: 100%;
    position: relative;
  }
  footer {
    position: relative;
  }
  .main-menu {
    @include media-breakpoint-up(sm) {
      background: none
    }
  }
  .main-header {
    height: 250px;
    .menucontainer {
      @include media-breakpoint-down(sm) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $zindex-fixed;
      }
    }
    @include media-breakpoint-up(md) {
      background: none;
      height: 100vh;
      min-height: 800px;
      position: relative;
      top: 0;
      bottom: 0;
      .navbar-brand {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 90px;
      }
      .main-menu {
        margin-top: 30px;
        height: 97px;
        .topmenu2 {
          height: 20px;
          margin-bottom: 35px;
          li {
            margin: 0 0 0 20px;
            @include media-breakpoint-up(lg) {
              margin: 0 0 0 60px;
            }
            a.nav-link {
              font-size: 14px;
              padding: 0;
            }
          }
        }
        .topmenu1 {
          height: 42px;

          @include media-breakpoint-up(md) {
            > li {
              margin-left: 20px;
            }
          }
          @include media-breakpoint-up(xl) {
            > li {
              margin-left: 50px;
            }
          }
          @include media-breakpoint-up(xxl) {
            > li {
              margin-left: 100px;
            }
          }

          li:nth-child(1) {
            a.nav-link:before {
              @include media-breakpoint-up(lg) {
                font-size: 24px;
                top: 5px;
              }
            }
          }

          li:nth-child(2) a.nav-link:before {
            @include media-breakpoint-up(lg) {
              font-size: 27px;
              top: 7px;
            }
          }
          li:nth-child(3) a.nav-link:before {
            @include media-breakpoint-up(lg) {
              font-size: 24px;
              top: 5px;
            }
          }
          li:nth-child(4) a.nav-link:before {
            @include media-breakpoint-up(lg) {
              font-size: 30px;
              top: 7px;
            }
          }

          > li > a.nav-link {
            @include media-breakpoint-up(md) {
              font-size: 12px;
              line-height: 16px;
              padding: 0 0 0 30px !important;
            }
            @include media-breakpoint-up(lg) {
              font-size: 16px;
              line-height: 21px;
              padding: 0 0 0 40px !important;
            }
            @include media-breakpoint-up(xl) {
              font-size: 16px;
              line-height: 21px;
              padding: 0 0 0 50px !important;
            }
          }
          > li:first-child {
            > a {
              display: none;
            }
            > ul.dropdown-menu {
              display: inline-block !important;
              border: none;
              background: none;
              position: relative !important;
              top: 0;
              left: 0;
              margin: 0;
              padding: 0;
              min-width: auto !important;
              li {
                display: none;
                &:first-child {
                  position: relative !important;
                  top: 0;
                  left: 0;
                  margin: 0;
                  display: list-item !important;
                  a.dropdown-item {
                    display: table;

                    @include media-breakpoint-up(md) {

                      font-size: 12px;
                      line-height: 16px;
                      padding: 0 0 0 30px !important;

                    }
                    @include media-breakpoint-up(lg) {
                      font-size: 16px;
                      line-height: 21px;
                      padding: 0 0 0 40px !important;
                    }
                    @include media-breakpoint-up(xl) {

                      font-size: 16px;
                      line-height: 21px;
                      padding: 0 0 0 50px !important;
                    }

                    &:before {
                      content: "\e917" !important;
                      z-index: 3;
                      @include media-breakpoint-up(lg) {
                        font-size: 24px;
                        top: 5px;
                      }
                    }
                  }
                }
              }

            }
          }
        }
      }
    }
    background: transparent;
  }
  @include media-breakpoint-up(md) {
    .menucol1 {
      position: relative;
      bottom: -32px;
    }
    .menucol2 {
      position: relative;
      top: -42px;
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-brand {
      margin: 50px 0 0 0;
    }
    .menucol1 {
      bottom: -52px;
    }
  }
  #homeslider {
    position: relative;
    @include media-breakpoint-up(md) {
      top: -127px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: $main-menu_mobileheight;
      background:#fff !important;
    }
    .carousel-inner .carousel-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .carousel-caption {
      color: #FFFFFF;
      font-family: "butler_stencilregular";
      text-align: center;
      width: 100%;
      left: 0;
      padding: 0;
      font-size: 36px;
      @include media-breakpoint-up(md) {
        font-size: 120px;
        line-height: 300px;
        height: 300px;
        > div, > div > div, h1 {
          line-height: 300px !important;
          height: 300px !important;
        }
      }
    }
  }
  #homevideo, #homeslider, #homeslider .carousel-inner, #homeslider .carousel-inner .carousel-item {
    height: 250px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      height: 100% !important;
    }
  }

  video#homeslider {
    min-width: 100%;
    min-height: 100%;
    //width: 100%;
    height: auto;
    object-fit: fill;
    background: url('../img/homeslider/slide1-2000.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }

}

html:not(.ff-ie9) .main-header.homesplash {
  overflow: hidden;
}

.main-header.fixed-top {
  z-index: 2000;
}

.main-header:after {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.main-header.dropshadow:after {
  content: '';
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 60px;
  @include media-breakpoint-up(md) {
    height: 145px;
  }
  top: 0;
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
}

.homeoverlay {
  position: absolute;
  z-index: 2;
  height: 300px;
  @include media-breakpoint-up(md) {
    height: 100vh;
  }
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.slidebackground {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include media-breakpoint-up(md) {
    .carousel-caption {
      margin-top: 90px;
    }
  }
}

.heading {
  height: 200px;
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0;
  .btn.btn-primary {
    margin-top: 100px;
  }
  @include media-breakpoint-up(md) {
    height: 100vh;
    margin-top: 0;
  }
  #heading, #heading .carousel-inner {
    height: 100%;
  }

  .carousel-control-prev, .carousel-control-next {
    z-index: 4;
  }
  .carousel-caption {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
    //margin-top: -75px;
    height: 100%;
    > div {
      height: 100%;
      h1 {
        padding: 0;
        margin: 0;
      }
    }
    @include media-breakpoint-up(md) {
      h5 {
        font-size: 26px;
      }
    }
    @include media-breakpoint-down(md) {
      margin-top: 0;
      height: auto;
    }
  }
  .carousel-item {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.arrownav {
  background: #fff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 26px;
  text-align: center;
  .page-template-page-fiche & {
    @include media-breakpoint-down(sm) {
      position: relative;
      top: -50px;
    }
  }
  @include media-breakpoint-up(md) {
    width: 87px;
    height: 87px;
    line-height: 87px;
    border-radius: 87px;
    position: absolute;
    bottom: 75px;
    &:before {
      position: relative;
      font-size: 50px;
    }
  }
  &:before {
    font-family: icomoon;
    color: $blue;
    .carousel-control-prev & {
      content: "\e91c";
      @include media-breakpoint-up(md) {
        left: -5px;
      }
    }
    .carousel-control-next & {
      content: "\e91b";
      @include media-breakpoint-up(md) {
        right: -5px;
      }
    }
  }
}

.menucol2 {
  li {
    @include media-breakpoint-up(md) {
      @include underliner($brightblue, 2px, -5px);
    }
  }
}

/*
body:not(.page-template-page-home) {
  #menu-top-menu-1 > li {
    @include media-breakpoint-up(md) {
      @include underliner($brightblue, 2px, 4px);
      &.dropdown {
        &:hover:after {
          width: 100%;
          background: $brightblue;
          transition: all .5s ease;
          //TODO: reverse direction for this hack. Normal mixin not working correctly because of dropdown class
        }
      }
    }
  }
}
*/

// COLOURS, ROLLOVER
.main-menu {
  .navbar-brand, .menucol1 .nav-link {
    color: #000000;
    @include colorTocolor($brightblue, #000000, 0.5s);
    &:before {
      color: #000000;
      @include colorTocolor($brightblue, #000000, 0.5s);
    }
    &:hover {
      color: $brightblue;
      @include colorTocolor(#000000, $brightblue, 0.5s);
      &:before {
        color: $brightblue;
        @include colorTocolor(#000000, $brightblue, 0.5s);
      }
    }
  }
  .current-menu-item .nav-link {
    color: $brightblue !important;
    &:before {
      color: $brightblue !important;
    }
  }
  .dropdown-item {
    color: #000000;
    .standard-layout &, html.ff-ie9 & {
      display: block !important;
      height: 30px !important;
    }
    &:before {
      color: #000000;
    }
    &:hover {
      background: none;
      color: $brightblue;
      &:before {
        color: $brightblue;
      }
    }
  }
  .menucol2 .nav-link {
    color: #ccc;
    @include colorTocolor($brightblue, #ccc, 0.5s);
    &:before {
      color: #000000;
      @include colorTocolor($brightblue, #ccc, 0.5s);
    }
    &:hover {
      color: $brightblue;
      @include colorTocolor(#ccc, $brightblue, 0.5s);
      &:before {
        color: $brightblue;
        @include colorTocolor(#ccc, $brightblue, 0.5s);
      }
    }
  }
}

// COLOURS, ROLLOVER
html:not(.ff-ie9) body.page-template-page-home .main-menu {
  .navbar-brand, .nav-link, .dropdown-item {
    background: none;
    @include media-breakpoint-up(md) {
      color: #ffffff;
      @include colorTocolor(#ffffff, $brightblue, 0.5s);
      &:before {
        color: #ffffff;
        @include colorTocolor(#ffffff, $brightblue, 0.5s);
      }
    }
    &:hover {
      @include media-breakpoint-up(md) {
        color: $brightblue;
        @include colorTocolor($brightblue, #ffffff, 0.5s);
        &:before {
          color: $brightblue;
          @include colorTocolor($brightblue, #ffffff, 0.5s);
        }
      }
    }
  }
}

#menu-top-menu-1 {
  a.dropdown-item:before,
  a.nav-link:before {
    position: absolute;
    transition: 2s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
  }
  a.dropdown-item:hover:before,
  a.nav-link:hover:before {
    transform: rotateY(180deg);
  }
}

.imagepreloader {
  display: none;
}

.mobile-phone {
  right: 0;
  margin: auto 0 auto 0 !important;
  width: 50px !important;
  height: 50px !important;
  position: relative;
  background: none !important;
  border: 0 !important;
  &:before {
    font-family: icomoon;
    font-weight: normal;
    content: "\e90e";
    color: #000;
    position: relative;
    top: 10px;
    font-size: 25px;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.main-header .menucontainer .main-menu .topmenu1 li:first-child {
  @include media-breakpoint-down(sm) {
    padding:0 !important;
    .dropdown-menu {
      display: block;
      padding-top:0 !important;
      padding-bottom:0 !important;
      li {
        display:none !important;
        &:first-child {
          display: block !important;
          padding: 0 34px !important;
          margin-top:0;
          height:38px !important;
          line-height:38px !important;
          a,.dropdown-item {
            height:38px !important;
            line-height:38px !important;
            font-weight: 600 !important;
            text-transform: uppercase !important;
            letter-spacing: 1px !important;
            font-size: 13px !important;
            padding:  0 !important;
            border-bottom: 1px solid #eee !important;
          }
        }
      }
    }
  }
}
