body {
  font-family: Montserrat;
  height: 100%;
  &.logged-in.admin-bar {
    margin-top: -32px;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "butler_stencilregular";
}

h1, .h1 {
  font-size: 80px;
  line-height: 85px;
  @include media-breakpoint-down(md) {
    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 26px;
    }
  }
  &.h2 {
    @include media-breakpoint-down(sm) {
      text-align: center;
      font-size: 20px;
      line-height: 26px;
    }
  }
}

h2, .h2 {
  letter-spacing: 2px;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 40px;
  @include media-breakpoint-down(lg) {
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
      text-align: center;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 20px;
    }
  }
}

h3, .h3 {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 40px;
  @include media-breakpoint-down(lg) {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
      text-align: center;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 20px;
    }
  }
}

h4, .h4 {
  &.fiche {
    font-family: Montserrat;
    font-weight: 600;
    a {
      color: #000;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
  @include media-breakpoint-down(lg) {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      text-align: center;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 20px;
      @include media-breakpoint-down(sm) {

      }
    }
  }
}

h5, .h5 {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  .label {
    color: #ccc;
    white-space: nowrap;
    letter-spacing: normal;
  }
  &.date {
    color: $blue;
  }
  &.subtitle {
    font-size: 18px;
    letter-spacing: normal;
    text-transform: none;
  }
  @include media-breakpoint-down(sm) {
    font-size: 9px;
    line-height: 9px;
    margin-bottom: 15px;
  }
}

.lead, .lead p {
  @include media-breakpoint-up(md) {
    font-size: 24px;
    line-height: 45px;
  }
}

.form {
  .form-control, label {
    @include media-breakpoint-down(md) {
      font-size: 12px !important;
    }
  }
}

.site-container, .leftvertical, .rightvertical, .footer {
  opacity: 1;
}

.btn.btn-link {
  text-decoration: none;
}

.site-container {
  @include media-breakpoint-down(sm) {
    overflow-x: hidden;
  }
}

.formspacer {
  height: 75px !important;
}

.borderedinputs {
  label {
    display: block;
    position: relative;
  }
  @include media-breakpoint-down(sm) {
    text-align: left;
    p {
      text-align: left !important;
    }
  }
  .btn {
    margin-top: 30px;
  }
  .form-group {
    margin-bottom: 0;
    .form-control {
      height: 44px;
      border: 2px solid $blue;
      background: #fff;
    }
  }

  .form-check, .wpcf7-list-item {
    margin: 0 0 20px 0;
    label {
      font-size: 18px;
      line-height: 27px;
      padding-left: 55px;
      input {
        position: absolute !important;
        margin-left: -55px;
        width: 30px;
        height: 30px;
        border: 2px solid $blue;
        background: #fff;

        &:after {
          font-family: FontAwesome;
          content: "";
          text-align: center;
          line-height: 25px;
          font-size: 25px;
          color: $blue;
          display: inline-block;
          width: 30px;
          height: 30px;
          background: #fff;
          border: 2px solid $blue;
        }
        &:checked:after {
          content: "\f00c";
        }
      }
    }
  }
}

section {
  .dropdown-item {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.largetext p {
  font-size: 18px;
  line-height: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 22px;
  }
}

.pointsforts {
  .verticallabel {
    color: $blue;
  }
  P {
    margin-left: 30px;
    font-size: 18px;
    line-height: 32px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  li {
    list-style-type: none;
    font-size: 24px;
    line-height: 38px;
    margin-left: 30px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 22px;
    }
    &:before {
      position: absolute;
      left: 105px;
      margin-top: -3px;
      font-size: 30px;
      content: "\2022";
    }
  }
  .icon-thumbsup:before {
    @include media-breakpoint-down(sm) {
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 45px;
    }
  }
}

.articlehead {
  margin: 0 auto 30px auto;
  @include media-breakpoint-up(md) {
    margin: 0 auto 100px auto;
  }
  h5 {
    color: $blue;
  }
  p {
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
  text-align: center;
}

#vosescales {
  .mapzone {
    width: 100%;
    text-align: center;
    iframe {
      width: 100%;
    }
  }
}

.mapimage {
  margin-left: auto;
  margin-right: auto;
}

.text-cell {
  p {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 32px;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {

      @include media-breakpoint-down(sm) {
        text-align: center;
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 20px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.text-right-md {
  @include media-breakpoint-up(md) {
    text-align: right !important;
  }
}

.articleheading {
  text-align: center;
  img {
    margin-left: auto;
    margin-right: auto;
  }
  margin-top: 60px;
  @include media-breakpoint-up(md) {
    margin-top: 145px;
  }
}

.articlecontent {
  p {
    @include media-breakpoint-down(sm) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  img.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
  @include media-breakpoint-down(sm) {

  }
}

.cardheading {
  margin-left: 15px;
  @include media-breakpoint-down(md) {
    margin-bottom: 30px !important;
  }
}

.card.personel {
  text-align: center;
  @include media-breakpoint-up(md) {
    .i_telephone {
      display: none !important;
    }
  }
  @include media-breakpoint-down(md) {
    img {
      width: 100%;
      max-width: none;
    }
  }
  .card-body {
    text-align: center;
    padding: 35px 35px 25px 35px;
    p {
      margin: 0;
    }
  }
  .card-title {
    margin-bottom: 15px;
  }
  .card-title, p.small {
    @include media-breakpoint-down(md) {
      font-size: 9px;
      line-height: 9px;
      margin-bottom: 15px;
    }

  }
  .card-footer {
    background: $lighterblue;
    padding: 0 35px 35px 35px;
    p {
      margin: 0;
      padding-top: 30px;
      border-top: 1px solid #a1a3a3;
    }
  }
}

.text-center-mobile {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.emptycell {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.img-fluid.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.card-title {
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }
}

.card-group {
  .card-body {
    padding: 30px 30px 0 30px;
    @include media-breakpoint-up(md) {
      padding: 40px 40px 0 40px;
      @include media-breakpoint-up(lg) {
        padding: 80px 80px 0 80px;
      }
    }
  }
  .card-footer {
    padding-bottom: 30px;
    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
      @include media-breakpoint-up(lg) {
        padding-bottom: 80px;
      }
    }
  }
}

.card-deck {
  .card {
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
  .card-body {
    padding: 20px 25px 0 25px;
    @include media-breakpoint-up(lg) {
      padding: 40px 65px 0 65px;
    }
  }
  .card-footer {
    padding-bottom: 40px;
    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
      @include media-breakpoint-up(lg) {
        padding-bottom: 40px;
      }
    }
  }
  .card-title {
    margin-bottom: 30px;
  }
  .card-text {
    font-size: 16px;
    line-height: 27px;
  }
}

.card-footer {
  background: transparent;
  border: 0;
  .btn-link {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: underline;
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}

.card {
  img {
    width: 100%;
  }
}

.card-deck, #articleloader {

  .card:not(.emptycell) {
    @extend .draw;
    @extend .meet;
  }
}

.draw {
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  transition: color 0.15s;
  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
  &:hover {
    color: $brightblue;
  }
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }
  &:hover::before {
    border-top-color: $brightblue; // Make borders visible
    border-right-color: $brightblue;
    transition: width 0.25s ease-out, // Width expands first
    height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: $brightblue; // Make borders visible
    border-left-color: $brightblue;
    transition: border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
    width 0.25s ease-out 0.5s, // And then exanding width
    height 0.25s ease-out 0.75s; // And finally height
  }
}

.meet {

  &:hover {
    color: $brightblue;
  }
  &::after {
    top: 0;
    left: 0;
  }
  &:hover::before {
    border-top-color: $brightblue;
    border-right-color: $brightblue;
  }
  &:hover::after {
    border-bottom-color: $brightblue;
    border-left-color: $brightblue;
    transition: // Animate height first, then width
            height 0.25s ease-out,
            width 0.25s ease-out 0.25s;
  }

}

.cardicon {
  width: 43px;
  height: 43px;
  margin: 0 auto;

  &:before {
    font-family: icomoon;
    display: block;
    color: #000;
    text-align: center;
    font-size: 20px;
    width: 43px;
    height: 43px;
    line-height: 43px;
  }

  &.i_evasion {
    &:before {
      content: "\e914";
    }
  }
}

.phototag {
  width: 54px;
  height: 54px;
  @include media-breakpoint-down(md) {
    width: 32px;
    height: 32px;
  }
  position: absolute;
  background: #000;
  right: 0;
  &:before {
    font-family: icomoon;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 24px;
    width: 54px;
    height: 54px;
    line-height: 54px;
    @include media-breakpoint-down(md) {
      font-size: 15px;
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }
  &.i_affaires {
    &:before {
      content: "\e917";
    }
  }
  &.i_exception {
    &:before {
      content: "\e904";
    }
  }
  &.i_evasion {
    &:before {
      content: "\e914";
    }
  }
}

.btn-link {
  &:hover {
    text-decoration: none;
  }
}

.btn-black {
  background: black;
  text-transform: uppercase;
}

.stick-bottom {
  position: absolute;
  bottom: 0;
}

.stick-md-bottom {
  @include media-breakpoint-up(md) {
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  width: 100%;
  background: #000000;
  color: #ffffff;
  .partagebox {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}

.btn {
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.btn-primary {
  @extend .hvr-ripple-in; //rollover fx
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 13px 26px;
  font-size: 16px;
  line-height: 19px;
  @include media-breakpoint-down(md) {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 14px;
    @include media-breakpoint-down(sm) {
      font-size: 8px;
      line-height: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &:hover {
    background: #000;
    border: none;
    color: $lightblue;
  }

}

.btn-secondary, .btn-secondary.btn-primary {
  @extend .hvr-ripple-in; //rollover fx
  background-color: $blue;
  background-image: none;
  border-color: #fff;
  font-size: 14px;
  //line-height: 50px;
  //height: 50px;
  padding: 13px 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:before {
    border: $blue solid 4px;
  }
  @include media-breakpoint-down(md) {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 14px;
    @include media-breakpoint-down(sm) {
      font-size: 8px;
      line-height: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.btn-secondary:hover,
btn-secondary:active, btn-secondary:focus, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  background-color: $blue;
}

.btn-share {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.card-img-top {
  border-radius: 0;
}

//desktop only
@include media-breakpoint-up(lg) {
  body {
    //margin-bottom: $footer_height;
  }
  .footer {
    //position: absolute;
    bottom: 0;
    height: $footer_height;
  }
}

@include media-breakpoint-up(md) {
  .verticallabel {
    transform: rotate(-90deg);
    transform-origin: left top 50%;
    white-space: nowrap;
    html.ff-browser-ie &, html.no-flexboxlegacy & {
      margin-left: -100px;
    }
    //position: absolute;
    h5 {
      position: relative;
      right: 100px;
    }
  }
  .labelcontainer {
    position: absolute;
    height: 100%;
    width: 40px;
    left: 10px;
    html.ff-browser-ie &, html.no-flexboxlegacy & {
      //margin-left:-100px;
    }
    @include media-breakpoint-up(xl) {
      left: 20px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    &.fiche {
      margin-top: 30px;
    }
  }
}

.card-body {
  position: relative;
}

.offre, .fiche {
  .card-body {
    background-color: $lighterblue;
  }
}

.card.fiche {
  overflow: hidden;
  padding-bottom: 50px;
  background-color: #dfedf1;
  @include media-breakpoint-down(md) {
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .card-body {
    padding: 30px 100px 50px 100px;
    @include media-breakpoint-down(md) {
      padding: 20px 50px 30px 50px;
    }
  }
  .card-text {
    @include media-breakpoint-down(md) {
      font-size: 12px;
      line-height: 19px;
    }
  }
  .card-title {
    margin-bottom: 20px;
  }
  .verticallabel {
    color: $blue;
    font-weight: 600;
  }
}

.spaced-top {
  margin-top: 90px;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}

.spaced-bottom {
  margin-bottom: 90px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.overlap {
  overflow: hidden;
  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
  .verticallabel {
    color: #9B9B9B;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
  &.layout-text-image {
    > .row {
      @include media-breakpoint-up(md) {
        position: relative;
        right: 2rem;
      }
    }
    .text-cell {
      @include media-breakpoint-up(md) {
        right: -8rem;
        top: 4rem;
        margin-bottom: 3rem;
      }
    }

  }
  &.layout-image-text {
    > .row {
      @include media-breakpoint-up(md) {
        position: relative;
        left: 2rem;
      }
    }
    .text-cell {
      @include media-breakpoint-up(md) {
        left: -8rem;
        top: 4rem;
        margin-bottom: 3rem;
      }
    }
  }
  .text-cell {
    padding-top: 0 !important;
    z-index: 5;
    position: relative;
    > div {
      position: relative;
      background-color: $lighterblue;
      padding: 1.5rem !important;
      @include media-breakpoint-up(md) {
        .labelcontainer {
          margin-top: -1.5rem;
        }
        padding: 50px 60px !important;
        .labelcontainer {
          margin-top: -50px;
        }
        @include media-breakpoint-up(lg) {
          padding: 90px 100px !important;
          .labelcontainer {
            margin-top: -90px;
          }
        }
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.card {
  border: none;
  border-radius: 0;
}

.dropdown {
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-toggle {
    background: #ffffff;
    color: #000;
  }
  .dropdown-toggle::before {
    display: inline-block;
    width: 0;
    height: 0;
    content: "\f107";
    font-family: FontAwesome;
    color: #000;
    font-size: 20px;
    margin-right: 20px;
    z-index: -1;
  }
}

#certificat {

  background-image: url(/wp-content/themes/vp-minimal/assets/img/blueslash.gif);
  background-size: cover;
  .row > div {
    padding-top: $spacer * 6;
    padding-bottom: $spacer * 6;
    @include media-breakpoint-down(lg) {
      padding-top: $spacer * 3;
      padding-bottom: $spacer * 3;
    }
  }
  .certificatcard {
    @include media-breakpoint-down(sm) {
      padding-bottom: 20px !important;
    }
  }
  .certificattext {
    p {
      font-size: 18px;
      color: #fff;
      margin-bottom: 2rem;
    }
    > div {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    @include media-breakpoint-down(md) {
      > div {
        width: 100%;
      }
      p {
        font-size: 16px;
      }
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      padding-top: 0 !important;
      margin-top: 0 !important;
      > div {
        padding: $spacer * 2;
        p {
          color: #000;
        }
        background: #fff;
      }

    }
  }
  .shadowcard {
    width: 464px;
    height: 254px;
    background: #000;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.5);
    &:before {
      display: block;
      color: #fff;
      font-size: 79px;
      margin: 85px auto auto auto;
      width: 277px;
      height: 79px;
      line-height: 79px;
      text-align: center;
    }
    @include media-breakpoint-down(lg) {
      width: 350px;
      height: 192px;
      &:before {
        font-size: 59px;
        margin: 60px auto auto auto;
        width: 210px;
        height: 65px;
        line-height: 65px;
      }
      @include media-breakpoint-down(sm) {
        width: 250px;
        height: 137px;
        &:before {
          font-size: 45px;
          margin: 42px auto auto auto;
          width: 160px;
          height: 45px;
          line-height: 45px;
        }
      }
    }
  }
}

#instagram {
  padding-bottom: 70px;
  h3 {
    margin-bottom: 75px;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.form-control {
  border-radius: 0;
}

#newsletter {
  margin-bottom: 0;
  background-color: $lighterblue;
  padding: 80px 0 85px 0;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    padding: 40px 0 85px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 0 50px 0;
  }
  .verticallabel {
    display: none;
    top: 50px;
    @include media-breakpoint-up(md) {
      color: $blue;
      display: block;
      left: 50px;
    }
  }
  .form {

    @include media-breakpoint-up(md) {
      margin: 34px auto 50px auto;
      height: 50px;
    }
    text-align: center;
    @include media-breakpoint-down(md) {
      .btn {
        margin: 0;
      }
    }
    .form-control {
      height: 32px !important;
      line-height: 32px;
      border: 0;
      @include media-breakpoint-down(md) {
        font-size: 10px;
        width: 200px;
        @include media-breakpoint-down(sm) {
          width: auto;
        }
      }
      @include media-breakpoint-up(md) {
        height: 34px !important;
        line-height: 34px;
        width: 100%;
        max-width: 375px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 575px;
        height: 45px !important;
        line-height: 45px;
      }
    }
  }
  h4 {
    font-family: Montserrat;
    font-size: 28px;
    line-height: 42px;
    margin: 0 auto;
    max-width: 430px;
    @include media-breakpoint-down(md) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 15px !important;
    }
  }
  .icon {
    width: 54px;
    height: 54px;
    margin: 0 auto 30px auto;
    &:before {
      width: 54px;
      height: 54px;
      font-size: 54px;
      top: -12px;
      position: relative;
      font-family: icomoon;
      content: "\e90c";
      color: #000;
    }
    @include media-breakpoint-down(sm) {
      width: 32px;
      height: 32px;
      margin: 0 auto 10px auto;
      &:before {
        top: -8px;
        font-size: 32px;
        width: 32px;
        height: 32px;
      }
    }
  }
  input.btn {
    @extend .hvr-ripple-in; //rollover fx
    padding-left: 40px;
    padding-right: 40px;

  }
}

.bg-blue {
  background-color: $lighterblue !important;
}

#lesavantages, #lestemoignages {
  padding: 30px 30px 50px 30px;
  background-color: $lighterblue;
  color: $blue;
  p {
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}

section {
  &.description {
    margin-top: 0;
    background-color: $lighterblue;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
}

.clickbox {
  cursor: pointer;
}

.label_destinations {
  @include media-breakpoint-down(md) {
    margin-top: 40px;
  }
}

.nav-pills .nav-item {
  border-radius: 0.25rem;
  background-color: $lighterblue;
  margin: 4px 2px;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  height: 45px;
  text-align: center;
  @include media-breakpoint-down(md) {
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
  }
  &:hover {
    border-radius: 0.25rem !important
  }
  &.deselect:before {
    background: $lighterblue;
  }
  &.active {
    background-color: darken($lighterblue, 10%);
  }
  &:last-child {
    flex: none;
  }
}

.hvr-rectangle-out:before {
  border-radius: 0.25rem !important;
}

#ficheloader, #articleloader {
  .card {
    height: 100%;
  }
  .card-deck .card {
    height: auto;
  }
  > div {
    padding-bottom: 20px;
  }
}

#ficheloader {
  margin-top: 50px;
  .card {
    margin-bottom: $spacer;
    background-color: $lighterblue;
  }
}

.fiche-overlay {
  position: relative;
  z-index: 3;
  height: 500px;
  margin-top: -500px;
  > .container, > .container > .row {
    height: inherit;
  }
  .boxed {
    background: #fff;
    padding: 45px 60px 20px 60px;
    h1 {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
      padding: 15px 20px 0 20px;
      h5 {
        margin-bottom: 10px;
      }
      h1 {
        text-align: left;
      }
    }
  }
}

@mixin loader($loaderradius,$loaderscale,$innerloader) {
  //$loaderradius: 85px;
  //$loaderscale:0.425;
  //$innerloader:40px;
  display: block;
  margin: $loaderradius auto !important;
  .lds-dual-ring {
    margin: auto;
    width: $loaderradius !important;
    height: $loaderradius !important;
    -webkit-transform: translate(-($loaderradius/2), -($loaderradius/2)) scale($loaderscale) translate(($loaderradius/2), ($loaderradius/2));
    transform: translate(-($loaderradius/2), -($loaderradius/2)) scale($loaderscale) translate(($loaderradius/2), ($loaderradius/2));
    @include media-breakpoint-down(md) {
      width: $innerloader !important;
      height: $innerloader !important;
      -webkit-transform: translate(-($innerloader/2), -($innerloader/2)) scale($loaderscale) translate(($innerloader/2), ($innerloader/2));
      transform: translate(-($innerloader/2), -($innerloader/2)) scale($loaderscale) translate(($innerloader/2), ($innerloader/2));
    }
  }
}

.loader {
  @include loader(40px, 0.2, 20px);
}

.pager {
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 75px;
  height: 85px;
  width: 85px;
  border-radius: 85px;
  background: $blue;
  color: #fff;
  margin: 40px auto;
  font-size: 110px;
  text-decoration: none !important;
  .loader {
    display: none;
  }
  &.loading {
    background: transparent;
    .plus {
      display: none;
    }
    .loader {
      @include loader(40px, 0.2, 20px);
    }
  }
  @include media-breakpoint-down(md) {
    font-size: 55px;
    line-height: 35px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin: 10px auto 20px auto;
  }
}

#faq {
  margin-top: 0;
  margin-bottom: 130px;
  .subheading {
    margin-top: 0 !important;
  }
}

.collapsemenu {
  .card {
    border-top: 2px solid #979797;
  }
  .card-body {
    padding: 0 0 30px 0;
    font-size: 18px;
    line-height: 22px;
    @include media-breakpoint-down(md) {
      font-size: 12px;
      line-height: 19px;
    }
  }
  .card-header {
    padding: 0;
    font-weight: 600;
    background: none;
    font-wize: 18px;
    color: #000;
    border: none;
    line-height: 22px;
    text-transform: uppercase;
    a {
      padding: 20px 0;
      display: block;
      color: #000;
      text-decoration: none;
      span {
        display: inline-block;
        max-width: 80%;
      }
    }
    a .fa-chevron-right {
      margin-right: 50px;
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari */
      transform: rotate(90deg);

      transition: transform 0.2s linear 0s;
    }
    a.collapsed .fa-chevron-right {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Safari */
      transform: rotate(0deg);
    }
  }
}

.personel {
  margin-bottom: 30px;
  .card-body {
    background: $lighterblue;
  }
}

.pointsforts {
  background-color: $lighterblue;
  .verticallabel {
    @include media-breakpoint-up(md) {
      left: -40px;
      top: 140px;
      position: absolute;
    }
  }
}

$border-color: #494949;

.timeline {
  @include media-breakpoint-down(md) {
    margin: 0 20px;
    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  margin: 0 2rem;
  padding: 0 0 2em 0;
  background: url(../img/trace.gif) repeat-y;
  h2, h3 {
    font-family: Montserrat;
    color: #000;
    letter-spacing: normal;
    @include media-breakpoint-down(md) {
      text-align: left;
    }
  }
  h2 {
    font-size: 30px;
    line-height: 48px;
    margin-top: 0;

  }
  h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 5px;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  > div {
    padding: 8px 0 16px 70px;
    position: relative;
    color: rgba(black, .7);
    &:first-child {
      padding-top: 0;
    }

    &::after {
      width: 19px;
      height: 19px;
      display: block;
      top: 12px;
      position: absolute;
      left: -9px;
      border-radius: 10px;
      content: '';
      background: $border-color;
    }

    &:first-child {

      &::after {
        border-radius: 48px;
        width: 48px;
        height: 48px;
        left: -23px;
        top: 0;
        font-family: FontAwesome;
        color: #fff;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        content: '\f078';
      }
    }

  }
}

@keyframes menucolor1 {
  0% {
    color: #22acff;
  }
  100% {
    color: #ffffff;
  }
}

@keyframes menucolor2 {
  0% {
    color: #ffffff;
  }
  100% {
    color: #22acff;
  }
}

@keyframes smallmenucolor1 {
  0% {
    color: #22acff;
  }
  100% {
    color: #ccc;
  }
}

@keyframes smallmenucolor2 {
  0% {
    color: #ccc;
  }
  100% {
    color: #22acff;
  }
}

.desktop {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.icon.bell {
  position: relative;
  top: -6px;
  margin-right: 35px;
  &:before {
    font-weight: normal;
    font-size: 25px;
    content: "\e902";
    font-family: icomoon;
    position: absolute;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
      top: 5px;
    }
  }
}

.leftvertical, .rightvertical {
  position: fixed;
  top: 0;
  &.standard-layout {
    top: 95px;
  }
  z-index: 10;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  height: 100vh;
  min-height: 800px;
  width: 50px;
  font-family: Montserrat;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  a {
    color: #fff !important;
  }
  > div {
    position: relative;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.zindex-10 {
  z-index: -10;
}

.leftvertical {
  body.single-post & {
    display: none;
  }
  left: 0;
  > div {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    .lang-en & {
      width: 313px !important;
    }
    .lang-fr & {
      width: 365px !important;
    }
    height: 50px;
    white-space: nowrap;
    left: -90px;
    a {
      height: inherit;
      width: inherit;
      padding-left: 30px;
      padding-right: 20px;
      padding-top: 10px;
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      display: block;
      @include bgcolorTobgcolor(#000000, transparent, 0.5s);
    }
    &:hover a {
      background-color: #000000;
      @include bgcolorTobgcolor(transparent, #000000, 3s);
    }
  }
  .icon {
    display: inline-block;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    &:before {
      font-weight: normal;
      font-size: 25px;
      content: "\e902";
      font-family: icomoon;
      position: relative;
      top: 15px;
      left: 2px;
    }

  }

}

.rightvertical {
  right: 0;

  > div {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: -100px;
  }
  .partagebox {
    z-index: 10;
    position: absolute;
    right: 0;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(/wp-content/themes/vp-minimal/assets/img/sharefleche.png);
    background-color: #fff;
    body.single-post & {
      background-color: $lighterblue;
      > div {
        background-color: $lighterblue;
      }
    }
    width: 200px;
    height: 60px;
    color: #000000;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 48px;
    text-align: center;
    padding-right: 40px;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.2s linear 0s;

    cursor: pointer;
    a {
      display: inline-block;
      width: 15px;
      height: 15px;
      color: #000 !important;
      top: 8px;
      margin: 0 10px;
      left: 15px;
      position: relative;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      &:hover {
        color: $blue !important;
      }
      &:before {
        color: inherit;
        font-family: icomoon;
        display: inline-block;
      }
    }
    span {
      display: inline-block;
    }

    > div {
      height: 40px;
      width: 200px;
      text-align: center;
      background: #fff;
    }
    &:hover {
      -ms-transform: translate(0, -35px);
      -webkit-transform: translate(0, -35px);
      transform: translate(0, -35px);
      transition: transform 0.2s linear 0s;
    }
  }

}

.s_facebook:before {
  content: "\e905";
}

.s_linkedin:before {
  content: "\e90a";
}

.s_pinterest:before {
  content: "\e90f";
}

.s_instagram:before {
  content: "\e909";
}

.i_phone:before, .i_telephone:before {
  content: "\e930";
}

.i_mail:before {
  content: "\e933";
}

.i_linkedin:before {
  content: "\e90d";
}

.i_facebook:before {
  content: "\e90b";
}

.i_pinterest:before {
  content: "\e915";
}

.i_twitter:before {
  content: "\e918";
}

.navbar-brand:before, .logo:before {
  font-family: icomoon;
  content: "\e916" !important;
}

.lang-en {
  .navbar-brand, .logo {
    &:before {
      font-family: icomoon;
      content: "\e934" !important;
    }
  }
}

.bar {
  width: 42px;
  height: 2px;
  background: #979797;
  margin: 13px 0;
}

.container.footer {
  @include media-breakpoint-down(md) {
    padding: 40px 40px 15px 40px;
  }
  li a, h3 {
    font-family: Montserrat;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
    font-weight: bold;
    letter-spacing: 1px;
  }
  h3 {
    margin-top: 11px;
    margin-bottom: 0;
    line-height: 14px;
    text-align: left;
  }
  .servicesmenu {
    @include media-breakpoint-up(md) {
      li {
        margin-left: 65px;
        margin-bottom: 10px;
      }
      li a:before {
        margin-top: -5px;
        margin-left: -35px;
        font-family: icomoon;
        font-weight: normal;
        font-size: 20px;
        //margin-top: 5px;
        display: inline-block;
        position: relative;
        width: 26px;
        position: absolute;
        transition: 2s;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
      }

      li a:hover:before {
        transform: rotateY(180deg);
      }
      li:nth-child(1) {
        a:before {
          content: "\e917" !important;
        }
      }
      li:nth-child(2) {
        a:before {
          content: "\e904" !important;
        }
      }
      li:nth-child(3) {
        a:before {
          content: "\e914" !important;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 75px;
  }
  .navbar-brand, .footernavbrand {
    @include media-breakpoint-down(md) {
      display: none;
    }
    @include media-breakpoint-up(md) {
      display: block;
      width: 295px;
      height: 75px;
      overflow: hidden;
      margin-bottom: 6px;
    }

    &:before {
      top: -20px;
      color: #fff;
      font-size: 72px;
      position: relative;
      font-family: icomoon;
      content: "\e916" !important;
      .lang-en & {
        content: "\e934" !important;
      }
    }
  }
  .adresse {
    line-height: 24px;
    font-size: 10px;
    @include media-breakpoint-up(md) {
      font-size: 14px;

    }
  }
  .copyright {
    color: #9B9B9B;
    font-size: 12px;
    margin: 0 0 30px 0;
    text-align: center;
    @include media-breakpoint-down(md) {
      font-size: 10px;
      margin-top: 30px;
      br {
        display: none;
      }
    }
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  .disclaimer {
    color: #9B9B9B;
    font-size: 10px;
    text-align: center;
    @include media-breakpoint-down(md) {
      br {
        display: none;
      }
    }
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  .partagebox {
    @include media-breakpoint-up(md) {
      margin-top: 50px;
    }
    a {
      display: inline-block;
      font-weight: normal;
      width: 25px;
      height: 25px;
      margin: 0 7px;
      position: relative;
      color: #fff;
      &:before {
        color: #fff;
        font-family: icomoon;
        display: inline-block;
      }
    }
  }
  #menu-footer-1 a {
    @include underliner(#fff, 2px, 0);
  }

}

.subheading {
  margin: 50px auto;
  @include media-breakpoint-up(md) {
    margin: 130px auto;
  }
}

.subsubheading {
  margin: 30px auto;
  @include media-breakpoint-up(md) {
    margin: 75px auto 50px auto;
  }
  &.bordered {
    border-top: 1px solid #979797;
    padding-top: 30px;
    @include media-breakpoint-up(md) {
      padding-top: 50px;
      margin: 40px auto 50px auto;
    }
  }
}

@include media-breakpoint-down(md) {
  $scrollupicon: 20px;
  $scrollup: 36px;
  .scrollup {
    z-index: 3;
    display: block;
    width: $scrollup;
    height: $scrollup;
    background: #fff;
    border-radius: $scrollup;
    position: relative;
    margin-bottom: -$scrollup;
    top: -($scrollup/2);
    border-radius: $scrollup;
    overflow: hidden;
    line-height: $scrollup;
    text-align: center;
    text-decoration: none !important;
    &:before {
      font-family: icomoon;
      font-size: $scrollupicon;
      color: #000;
      content: "\e920";
      width: $scrollup;
      height: $scrollup;
      line-height: $scrollup;
      text-align: center;
    }
  }
}

@include media-breakpoint-up(md) {
  $scrollup: 87px;
  $scrollupicon: 45px;
  .scrollup {
    z-index: 3;
    display: block;
    width: $scrollup;
    height: $scrollup;
    background: #fff;
    border-radius: $scrollup;
    position: relative;
    margin-bottom: -$scrollup;
    top: -($scrollup/2);
    border-radius: $scrollup;
    overflow: hidden;
    line-height: $scrollup;
    text-align: center;
    text-decoration: none !important;
    &:before {
      font-family: icomoon;
      font-size: $scrollupicon;
      color: #000;
      content: "\e920";
      width: $scrollup;
      height: $scrollup;
      line-height: $scrollup;
      text-align: center;
    }
  }
}

.social {
  a {
    display: inline-block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    margin: 0 3px;
    position: relative;
    z-index: 3;
    &:before {
      display: inline-block;
      width: 21px;
      height: 21px;
      line-height: 21px;
      font-size: 21px;
      text-align: center;
      font-family: icomoon;
      color: #A2A4A4;
    }
  }
}

.dropdown-menu.inspirationstypes.show {
  z-index: 9999;
}

.carousel.responsive-carousel {
  margin-left: 50px;
  margin-right: 50px;
  @include media-breakpoint-up(lg) {
    //margin-left:100px;
    //margin-right:100px;
  }
  @include media-breakpoint-up(xxl) {
    margin-left: 0;
    margin-right: 0;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 75px;
    @include media-breakpoint-up(lg) {
      //width: 100px;
    }
    background: transparent;
  }
  .carousel-control-prev {
    left: -65px;
    z-index: 10;
    @include media-breakpoint-up(lg) {
      //left: -100px;
    }
  }
  .carousel-control-next {
    right: -65px;
    z-index: 10;
    @include media-breakpoint-up(lg) {
      //right: -100px;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    &:before {
      font-family: icomoon;
      font-size: 50px;
      font-weight: bold;
      color: $blue;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
  .carousel-control-prev-icon {
    &:before {
      content: "\e91c";
    }
  }
  .carousel-control-next-icon {
    &:before {
      content: "\e91b";
    }
  }
  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
    .carousel-item {
      display: block !important;
    }
    .carousel-control-prev,
    .carousel-control-next {
      display: none !important;
    }
  }
}

section.searchform {
  margin: 70px auto;
  @include media-breakpoint-down(md) {
    margin: 30px auto;
  }
  .dropdown {
    height: 75px !important;
    @include media-breakpoint-down(md) {
      height: 45px !important;
    }
    width: 100%;
    max-width: 440px;
    background: $lighterblue !important;
    border: none !important;
    outline: none;
    &:before {
      font-family: icomoon;
      content: "\e91a";
      color: #000;
      font-size: 30px;
      position: absolute;
      background: $lighterblue !important;
      right: 20px;
      top: 15px;
      @include media-breakpoint-down(md) {
        top: 0;
      }
    }
    &.show {
      &:before {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }
    .dropdown-menu {
      min-width: 100%;
      border-radius: 0;
      min-height: 100px;
      .dropdown-item {
        &.active {
          background: $lighterblue;
          color: #000;
        }
      }
    }
    .btn {
      height: 75px !important;
      @include media-breakpoint-down(md) {
        height: 45px !important;
      }
      box-shadow: none !important;
      background: transparent;
      border: none !important;
      outline: none;
      color: #000;
      font-size: 13px;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;
      width: 100%;
      max-width: 440px;
      &:focus {
        border: none !important;
        outline: none;
      }
      &:before {
        content: "";
        display: none;
      }
    }
  }
  .form {
    height: 75px;
    .form-group {
      margin: 0;
      height: 75px;
      @include media-breakpoint-down(md) {
        height: 45px;
      }
      position: relative;
      width: 100%;
      max-width: 440px
    }
    .form-control {
      width: 100%;
      position: relative;
      z-index: 1;
      background: $lighterblue;
      padding: 12px;
      line-height: 20px;
      height: 75px;
      @include media-breakpoint-down(md) {
        height: 45px;
      }
      border: 15px solid $lighterblue;
      border-right: 50px solid $lighterblue;
      &::-webkit-input-placeholder {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &::-moz-placeholder {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &:-ms-input-placeholder {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &:-moz-placeholder {
        color: #000;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    button {
      width: 45px;
      height: 75px;
      @include media-breakpoint-down(md) {
        height: 45px;
      }
      right: 20px;
      top: 0;
      position: absolute;
      z-index: 2;
      padding: 0;
      background: transparent;
      &:after {
        display: inline-block;
        height: 75px;
        width: 45px;
        color: #000;
        line-height: 75px;
        @include media-breakpoint-down(md) {
          line-height: 55px;
        }
        font-family: icomoon;
        font-size: 22px;
        content: "\e911";
      }
    }
  }
}

#fiche-details {
  .verticallabel {
    color: $blue;
  }
}

.detailcontainer {
  margin-top: 40px;
  margin-bottom: 20px;
  h5 {
    margin-bottom: 25px;
    @include media-breakpoint-down(md) {
      font-size: 10px;
      margin-top: 0px;
    }
    @include media-breakpoint-only(md) {
      margin: 10px auto;
    }
  }
  p {
    .page-template-page-contact-php & {
      white-space: nowrap;
    }
    margin-bottom: 5px;
    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
  }
  > .row > div {
    @include media-breakpoint-down(sm) {
      display: initial;
      width: 100%;
      flex-basis: unset;
      .label {
        line-height: 40px;
        height: 40px;
        > div {
          display: inline-block;
          line-height: 40px;
          height: 40px;
          position: relative;
          top: 12px;
        }
        > h5 {
          font-weight: 600;
          position: absolute;
          margin-left: 15px;
          display: inline-block;
          line-height: 40px;
          height: 40px;
        }
      }
      p {
        margin-left: 50px !important;
      }
    }
    @include media-breakpoint-up(md) {
      min-height: 200px;
      text-align: center;
      &:not(:first-child) {
        &:before {
          position: absolute;
          top: 40px;
          left: 0;
          content: '';
          border-right: 2px solid #969696;
          height: 116px;
          @include media-breakpoint-down(md) {
            height: 50px;
          }
        }
      }
    }
  }
}

.detailicon {
  display: block;
  &:before {
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin: 0 auto 5px auto;
    font-family: icomoon;
    display: block;
    font-size: 60px;
    color: #000;
    @include media-breakpoint-down(md) {
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 35px !important;
    }
  }
}

#giftdetails {
  //@include media-breakpoint-up(md) {
  margin-bottom: 55px;
  //}
  .row > div {
    text-align: center;
  }
  .icon {
    display: block;
    &:before {
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      margin: 0 auto 5px auto;
      font-family: icomoon;
      display: block;
      font-size: 70px;
      color: #000;
      @include media-breakpoint-down(md) {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 35px !important;
      }
    }
  }
}

.icon-destination {
  @extend .detailicon;
  &:before {
    font-size: 50px;
    content: "\e928";
  }
}

.icon-family {
  @extend .detailicon;
  &:before {
    content: "\e927";
  }
}

.icon-rooms {
  @extend .detailicon;
  &:before {
    font-size: 50px;
    content: "\e925";
  }
}

.icon-people {
  @extend .detailicon;
  &:before {
    font-size: 50px;
    content: "\e923";
  }
}

.icon-washrooms {
  @extend .detailicon;
  &:before {
    content: "\e924";
  }
}

.icon-dates {
  @extend .detailicon;
  &:before {
    font-size: 50px;
    content: "\e903";
  }
}

.icon-days {
  @extend .detailicon;
  &:before {
    content: "\e92f";
  }
}

.icon-map {
  @extend .detailicon;
  &:before {
    content: "\e92e";
  }
}

.icon-telephone {
  @extend .detailicon;
  &:before {
    font-size: 32px;
    content: "\e91d";
  }
}

.icon-chat {
  @extend .detailicon;
  &:before {
    content: "\e900";
  }
}

.icon-time {
  @extend .detailicon;
  &:before {
    content: "\e92c";
  }
}

.icon-gift {
  @extend .detailicon;
  &:before {
    content: "\e91e";
  }
}

.icon-money {
  @extend .detailicon;
  &:before {
    content: "\e919";
  }
}

.icon-infinity {
  @extend .detailicon;
  &:before {
    content: "\e921";
  }
}

.icon-thumbsup {
  &:before {
    margin: 0 auto;
    width: 78px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    font-family: icomoon;
    display: block;
    font-size: 80px;
    color: $blue;
    content: "\e92d";
  }
}

.simplefavorite-button.active {
  opacity: 1 !important;
}

.icon-favorite {
  cursor: pointer;
  font-style: normal !important;
  &:before {
    width: 31px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-family: icomoon;
    display: block;
    font-size: 30px;
    color: $blue;
    content: "\e929";
  }
  &:hover, &.favorite {
    &:before {
      content: "\e912";
      font-size: 39px;
      position: relative;
      left: -4px;
      top: -1px;
    }
  }
  position: absolute;
  top: 24px;
  right: 24px;
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
    color: #000 !important;
  }
}

.mobile-centered {
  @include media-breakpoint-down(md) {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    > div, > a {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.fullheight {
  position: relative;
  height: 100%;
  .fullheightfit {
    @include media-breakpoint-down(md) {
      min-height: 200px;
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 32px;
      bottom: 16px;
      left: 0;
      right: 15px;
    }
  }
}

.spaced {
  @include media-breakpoint-up(md) {
    margin: 75px auto;
  }
}

.mobile-left {
  @include media-breakpoint-down(md) {
    text-align: left;
  }
}

form.form {
  .form-control {
    border: none;
    background: $lighterblue;
    #newsletter & {
      background: #fff;
      height: 45px;
      line-height: 20px;
    }
    padding: 12px 20px;
    font-size: 1rem;
    line-height: 20px;
  }
  .form-group {
    margin-bottom: 0;
    position: relative;
  }
}

#newsletter .wpcf7-response-output {
  position: absolute !important;
  margin-top: 60px !important;
}

#newsletter .ajax-loader {
  right: -30px;
  position: absolute;
  width: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.wpcf7-response-output, div.wpcf7-validation-errors {
  border: none !important;
  color: red;
}

#newsletter .wpcf7-not-valid-tip {
  display: none;
}

.datepicker-icon {
  &:after {
    font-family: icomoon;
    font-size: 30px;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "\e903";
  }
}

.datepicker {
  border: none;
  padding: 15px;
  border-radius: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  td, th {
    padding: 2px;
    text-align: center;
  }
  span {
    display: inline-block;
    padding: 2px;
  }
}

.card.article {
  .card-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  h5 {
    margin: 30px auto;
  }
  h4 {
    margin-bottom: 30px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .card-footer {
    text-align: center;
    margin-bottom: 30px;
  }
}

.z-index--1 {
  z-index: -1;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

@include media-breakpoint-up(md) {

  .pull-mt-5 {
    position: relative;
    top: -3rem;
  }

  .pull-mt-10 {
    position: relative;
    top: -6rem;
  }

  .pull-mb-5 {
    position: relative;
    bottom: -3rem;
  }

}

.topnav {
  height: 60px;
  line-height: 60px;
  .container {
    text-align: center;
  }
  @include media-breakpoint-up(md) {
    height: 100px;
    line-height: 100px;
    .container {
      text-align: left;
    }
  }
}

.bottomnav {
  margin: 30px auto;
  @include media-breakpoint-up(md) {
    margin: 100px auto;
  }
  .container {
    text-align: center;
    .navback a {
      margin-right: 30px;
      @include media-breakpoint-down(sm) {
        margin-right: 10px;
      }
    }
    .navforward a {
      margin-left: 30px;
      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
    }
    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: relative;
      &:before {
        font-family: icomoon;
        color: #9B9B9B;
        text-align: center;
        content: "\e907";
        margin: 0 auto;
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        font-size: 28px;
      }
      @include media-breakpoint-down(sm) {
        width: 20px;
        height: 20px;
        &:before {
          top: -5px;
          width: 20px;
          height: 20px;
          font-size: 14px;
        }
      }
    }
  }
}

.navback a, .navforward a {
  line-height: 30px;
  height: 30px;
  display: inline-block;
  font-size: 14px;
  color: #9B9B9B;
  overflow: hidden;
  position: relative;
  &:before, &:after {
    font-family: icomoon;
    color: #9B9B9B;
    font-size: 50px;
    line-height: 30px;
    height: 30px;
    position: absolute;
  }
  @include media-breakpoint-down(sm) {
    font-size: 10px;
    &:before, &:after {
      font-size: 30px;
    }
  }
}

.navback a {
  padding-left: 60px;
  @include media-breakpoint-down(sm) {
    padding-left: 30px;
  }
  &:before {
    left: 0;
    content: "\e926";
  }
}

.navforward a {
  padding-right: 60px;
  @include media-breakpoint-down(sm) {
    padding-right: 30px;
  }
  &:after {
    right: 0;
    content: "\e922";
  }
}

.lighterblue {
  background: $lighterblue;
}

.mobile-centered {
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

#instacarousel {
  .img-fluid {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }
}

#grillevoyages {
  .card-deck {
    @include media-breakpoint-up(md) {
      margin-bottom: 10px;
    }
  }
}

.icon-gate {
  width: 130px;
  height: 130px;
  margin: 0 auto 40px auto;
  &:before {
    font-family: icomoon;
    display: block;
    font-size: 130px;
    line-height: 130px;
    color: $blue;
    width: 130px;
    height: 130px;
    content: "\e932";
  }
}

.icon-champagne {
  width: 130px;
  height: 130px;
  margin: 0 auto 40px auto;
  &:before {
    font-family: icomoon;
    display: block;
    font-size: 130px;
    line-height: 130px;
    color: $blue;
    width: 130px;
    height: 130px;
    content: "\e931";
  }
}

#inspirations {
  #articleloader .card.article h5 {
    color: $blue;
  }
}

.filters a.disabled {
  cursor: pointer;
  opacity: 0.5;
}

.filters .badge {
  font-size: 10px;
  position: relative;
  top: -6px;
  opacity: 0.5;
  left: 4px;
}

#offrelinks {
  background-color: $lighterblue;
  padding-bottom: 90px;
  #ficheloader {
    margin-top: 0 !important;
  }
  #ficheloader .card.fiche {
    background: #fff;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    .card-body {
      padding-bottom: 25px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }
  .filtreselect {
    padding: 90px 0;
    font-size: 28px;
    line-height: 40px;
    @include media-breakpoint-down(md) {
      padding: 30px 0;
      font-size: 20px;
      line-height: 26px;
    }
    .dropdown {
      margin: 0 20px;
      position: relative;
      top: -3px;
      @include media-breakpoint-down(md) {
        top: 0;
        width: 100%;
        margin: 20px auto;
      }
      .dropdown-menu.show {
        @include media-breakpoint-up(md) {
          min-width: 100%;
          min-height: 100px;
        }
      }
      .btn {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 28px;
        padding-right: 40px;
        @include media-breakpoint-down(md) {
          font-size: 20px;
          line-height: 30px;
          padding-top: 3px;
        }
        &:before {
          font-size: 30px;
          padding: 0 10px 0 5px;
          @include media-breakpoint-down(md) {
            position: relative;
            top: 4px;
          }
        }
      }
    }
  }
  .card {
    background: #fff;
  }
  .card-body {
    background: #fff;
    position: relative;
    overflow-y: hidden;
    .verticallabel {
      font-size: 14px;
      text-align: center;
      line-height: 16px;
      font-weight: 600;
      color: $blue;
      text-transform: uppercase;
      left: 20px;
      bottom: 0;
    }
  }
}

.img-wrapper {

  position: relative;
  overflow: hidden;
  .placerimage {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
      z-index: 1;
      position: relative;
      width: 100%;
      height: auto;
    }
  }
  .img-wrapped {

    @include media-breakpoint-up(lg) {
      z-index: -1;
      position: absolute;
      top: 0;
      left: -20%;
      height: 100%;
    }
  }
}

.simplefavorite-button {
  float: right;
  body.post-template-default & {
    .icon-favorite {
      top: -5px;
    }
  }
  .articlecontent & {
    display: none;
  }
}

.page-template-page-mesvoyages,
.page-template-page-home {
  .card.col-md-6 {
    padding: 0 !important;
  }
}

.min-screen {
  @include media-breakpoint-up(md) {
    min-height: 800px;
    margin-top: 250px;
  }
}

.search-results {
  tr, td {
    border: none;
    padding: 0 25px 10px 0;
    h5 {
      padding-bottom: 0;
      margin-bottom: 0;
      line-height: 2;
    }
  }
}

.backgroundfadein {
  @include fadein(1.5s);
}

.wpcf7 .form-group {
  br {
    display: none;
  }
  > span {
    display: block;
    width: 100%;
  }
}

.wpcf7-form-control-wrap.description-projet {
  @extend .fullheightfit;
  @extend .fullheight;
  textarea {
    top: 0px !important;
    bottom: 56px !important;
  }
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 0;
  background: transparent;
  padding: .2em .8em;
}

.ff-loadmore-wrapper, .ff-header {
  display: none !important;
}

.ff-stream-wrapper {
  margin-top: 0 !important;
}

.ff-stream {
  padding: 0 !important;
}

.page-template-page-home #articleloader .card {
  margin-left: 0;
  margin-right: 0;
  p, .card-footer {
    display: none;
  }
}

.frameloop {
  position: relative;
  text-align: center;
  max-width: 100%;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  .frame0 {
    position: relative;
    z-index: 1;
    margin: auto;
  }
  .frame1 {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      position: absolute;
      top: 0;
      margin: auto;
      z-index: 2;
      animation: pulse 5s ease-in-out infinite;
    }
  }
  .frame0, .frame1 {
    @include media-breakpoint-up(md) {
      left: 0;
    }
    @include media-breakpoint-up(xl) {
      left: 10%;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.page-template-page-manuvie {
  #heading .carousel-caption {
    .captionimg {
      margin-top: 20px;
      max-width: 150px;
    }
    h1 {
      color: #000;
    }
    @include media-breakpoint-up(lg) {
      .col-8 {
        text-align: left;
        h1 {
          font-size: 45px;
          padding-left: 70px;
          margin-top: -200px;
        }
        .captionimg {
          vertical-align: middle;
          border-style: none;
          max-width: 350px;
        }
      }
    }
  }
}

.desktoptelephone {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    border: none !important;
  }
}

.form-group {
  margin-top: 10px !important;
}

.wpcf7-response-output {
  @extend .alert;
  @extend .alert-danger;
  text-align: center;
  margin-bottom: 50px !important;
  padding: 30px !important;
}

.wpcf-list-item label {
  position: relative;
}

picture {
  overflow: hidden;
}

.swingoutright {
  right: -100px;
  animation: swingoutright 0.5s;
  -moz-animation: swingoutright 0.5s;
  -webkit-animation: swingoutright 0.5s;
  @keyframes swingoutright {
    from {
      right: 0px;
    }
    to {
      right: -100px;
    }
  }
  @-moz-keyframes swingoutright {
    from {
      right: 0px;
    }
    to {
      right: -100px;
    }
  }
  @-webkit-keyframes swingoutright {
    from {
      right: 0px;
    }
    to {
      right: -100px;
    }
  }
}

.swingoutleft {
  left: -100px;
  animation: swingoutleft 0.5s;
  -moz-animation: swingoutleft 0.5s;
  -webkit-animation: swingoutleft 0.5s;
  @keyframes swingoutleft {
    from {
      left: 0px;
    }
    to {
      left: -100px;
    }
  }
  @-moz-keyframes swingoutleft {
    from {
      left: 0px;
    }
    to {
      left: -100px;
    }
  }
  @-webkit-keyframes swingoutleft {
    from {
      left: 0px;
    }
    to {
      left: -100px;
    }
  }
}

.swinginright {
  right: 0;
  animation: swinginright 0.5s;
  -moz-animation: swinginright 0.5s;
  -webkit-animation: swinginright 0.5s;
  @keyframes swinginright {
    from {
      right: -100px;
    }
    to {
      right: 0;
    }
  }
  @-moz-keyframes swinginright {
    from {
      right: -100px;
    }
    to {
      right: 0;
    }
  }
  @-webkit-keyframes swinginright {
    from {
      right: -100px;
    }
    to {
      right: 0;
    }
  }
}

.swinginleft {
  left: 0;
  animation: swinginleft 0.5s;
  -moz-animation: swinginleft 0.5s;
  -webkit-animation: swinginleft 0.5s;
  @keyframes swinginleft {
    from {
      left: -100px;
    }
    to {
      left: 0;
    }
  }
  @-moz-keyframes swinginleft {
    from {
      left: -100px;
    }
    to {
      left: 0;
    }
  }
  @-webkit-keyframes swinginleft {
    from {
      left: -100px;
    }
    to {
      left: 0;
    }
  }
}

#lestemoignagesarea {
  p {
    color: #000;
  }
}

.desktop-positioned {
  @include media-breakpoint-up(lg) {
    position: relative;
    z-index: 10;
    bottom: -45px;
    @include media-breakpoint-up(xl) {
      bottom: -60px;
    }
  }
}

#affixedbutton {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  position:relative;
  top:0;
  &.affix {
    @include media-breakpoint-up(lg) {
      position: fixed;
      top: 200px;
      right:0;
      //width: 100%;
      max-height:43px;
      z-index: 9999;
    }
  }
}

body.page-template-page-contact .leftvertical .btn { display:none !important; }