@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-dual-ring {
  position: relative;
}
.lds-dual-ring div {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #003399 transparent #003399 transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
}
.lds-dual-ring {
  width: 102px !important;
  height: 102px !important;
  -webkit-transform: translate(-51px, -51px) scale(0.51) translate(51px, 51px);
  transform: translate(-51px, -51px) scale(0.51) translate(51px, 51px);
}

$logowidth : 75px;
$logoheight: 100px;
$speed: 2.5s;

.minimalload {
  background:#fff;
}

.minimaltransition {
  position:fixed;
  width: 100vw;
  height: 100vh;
  z-index:-900;
  background:#fff;
  opacity:0.7;
  top:0;
  .spin {
    &:after {
      color: $brightblue;
      font-size: 100px;
      font-family: icomoon !important;
      content: "\e916" !important;
      display: block;
    }

    overflow: hidden;
    position: fixed;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $logowidth;
    //height: $logoheight;
    margin-top:-($logoheight/2);
    margin-left:-($logowidth/2);
    border-radius: 50%;
    text-align: center;
    -webkit-animation: pace-theme-center-circle-spin linear infinite $speed;
    -moz-animation: pace-theme-center-circle-spin linear infinite $speed;
    -ms-animation: pace-theme-center-circle-spin linear infinite $speed;
    -o-animation: pace-theme-center-circle-spin linear infinite $speed;
    animation: pace-theme-center-circle-spin linear infinite $speed;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  @-webkit-keyframes pace-theme-center-circle-spin {
    from { -webkit-transform: rotateY(0deg) }
    to { -webkit-transform: rotateY(360deg) }
  }

  @-moz-keyframes pace-theme-center-circle-spin {
    from { -moz-transform: rotateY(0deg) }
    to { -moz-transform: rotateY(360deg) }
  }

  @-ms-keyframes pace-theme-center-circle-spin {
    from { -ms-transform: rotateY(0deg) }
    to { -ms-transform: rotateY(360deg) }
  }

  @-o-keyframes pace-theme-center-circle-spin {
    from { -o-transform: rotateY(0deg) }
    to { -o-transform: rotateY(360deg) }
  }

  @keyframes pace-theme-center-circle-spin {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
}