@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: 400;
  src: local('icomoon'), local('icomoon'), url(../fonts/icomoon.woff) format('woff');
}

@font-face {
  font-family: 'butler_stencilblack';
  src: url('../fonts/butler_black_stencil-webfont.woff2') format('woff2'),
  url('../fonts/butler_black_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'butler_stencilbold';
  src: url('../fonts/butler_bold_stencil-webfont.woff2') format('woff2'),
  url('../fonts/butler_bold_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'butler_stencilextrabold';
  src: url('../fonts/butler_extrabold_stencil-webfont.woff2') format('woff2'),
  url('../fonts/butler_extrabold_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'butler_stencillight';
  src: url('../fonts/butler_light_stencil-webfont.woff2') format('woff2'),
  url('../fonts/butler_light_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'butler_stencilmedium';
  src: url('../fonts/butler_medium_stencil-webfont.woff2') format('woff2'),
  url('../fonts/butler_medium_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'butler_stencilregular';
  src: url('../fonts/butler_regular_stencil-webfont.woff2') format('woff2'),
  url('../fonts/butler_regular_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'butler_stencilultralight';
  src: url('../fonts/butler_ultra_light_stencil-webfont.woff2') format('woff2'),
  url('../fonts/butler_ultra_light_stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Import Bootsrap classes and mixins from parent theme
@import "../../../minimal-bootstrap/assets/css/style.scss";
// Site specific
$enable-rounded: false !default;
$top_height: 51px;
$footer-height: 470px;
$main-menu_height: 95px;
$main-menu_mobileheight: 60px;
$brand-primary: #000;
$baseBorderRadius: 0;
$blue: #003399;
$lightblue: #B3E5F5;
$lighterblue: #dfedf1;
$brightblue: #22acff;

.minimal {
  display:block;
  height:20px;
  color:#666;
  margin-top:10px;
  line-height:20px;
  padding-left:35px;
  background:url(../img/minimal.gif) no-repeat left;
  &:hover {
    color:#eee;
  }
}

.card, .card-group, .card-deck {
  @include media-breakpoint-down(sm) {
    width:100%;
    display:block;
  }
}

.old_ie {
  display:none;
}

a:hover {
  text-decoration:none;
}

@include media-breakpoint-up(md) {
  /*
  .reveal {
    opacity: 0;
    bottom: -20px;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    transition-delay: 0.2s;
    position: relative;
  }
  */
  .reveal {
    opacity:1;
  }
  .revealed {
    opacity: 1;
    bottom: 0;
  }
}

.container {
  @each $breakpoint, $container-max-width in $container-max-widths {
    @if $breakpoint != 'xl' { //make all containers 100% except biggest one
      @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
        width: 98%;
        max-width: 98%;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  $main-menu_height: 95px;
}

// hover configs
$primaryColor: #000 !default;
$secondaryColor: $lighterblue !default;
$activeColor: darken($lighterblue, 20%) !default;
$shadowColor: rgba(0, 0, 0, .6) !default;
@import "../../../minimal-bootstrap/assets/css/hover/hover.scss"; // hover effects library https://ianlunn.github.io/Hover/


.fadeInSequence {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin fadein($time){
  @keyframes fadeIn {
    0% {  opacity: 0;  }
    100% {  opacity: 1;  }
  }
  animation-name: fadeIn;
  animation-duration: $time;
}

.fadeaway {
  @keyframes fadout {
    0% {  opacity: 1;  }
    100% {  opacity: 0;  }
  }
  animation-name: fadeout;
  animation-duration: 1s;
  opacity:0;
}

.no-mobile {
  @include media-breakpoint-down(md) {
    display:none !important;
  }
}
.no-desktop {
  @include media-breakpoint-up(md) {
    display:none !important;
  }
}

$slideopenvar: 62px;
$slideclosevar: 42px;

@keyframes slideopen{
  from {top:$slideclosevar;}
  to{top:$slideopenvar;}
}
@-moz-keyframes slideopen{
  from {top:$slideclosevar;}
  to{top:$slideopenvar;}
}
@-webkit-keyframes slideopen{
  from {top:$slideclosevar;}
  to{top:$slideopenvar;}
}

@keyframes slideclose{
  from {top: $slideopenvar;}
  to{top:$slideclosevar;}
}
@-moz-keyframes slideclose{
  from {top: $slideopenvar;}
  to{top:$slideclosevar;}
}
@-webkit-keyframes slideclose{
  from {top: $slideopenvar;}
  to{top:$slideclosevar;}
}

$theme-colors: (
        primary: #000,
        secondary: $gray-600,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800
);

@import "layout";
@import "header";
@import "loader";